@*@model ZoomMeetingApplication.Models.RejoinderNotice*@
@model ZoomMeetingApplication.Entities.usp_GetRejoinderNoticeDetailByID_Result
@using ZoomMeetingApplication.Models
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Themes/ckeditor/ckeditor.js"></script>
<script src="~/Themes/ckeditor/samples/js/sample.js"></script>
<link href="~/Themes/ckeditor/samples/toolbarconfigurator/lib/codemirror/neod.css" rel="stylesheet" />
<script src="~/Scripts/AddRejoinderNotice.js"></script>
@using (Html.BeginForm("EditRejoinderNotice", "RejoinderNotice", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <section class="wrapper">
        <div class="container">
            <h2>Update Rejoinder Notice</h2>
            <div id="page-wrapper">
                <div class="container-fluid showcontent" id="showcontent">
                    <div class="box">
                        <div class="box-header" style="padding:5px;">
                            <ul class="btn_panel no-margin pull-right" style="padding:0;" id="sectiontemp"></ul>
                        </div>
                    </div>
                </div>
                <!-- Main content -->
                <form id="savecallform" enctype="multipart/form-data">
                    <!-- Start About boxes -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Case Status</label>
                                    @Html.HiddenFor(model => model.NoticeId)
                                    @Html.RadioButtonFor(model => model.CaseStatus, "Active", new { name = "monthlyBy", Style = "border - bottom: 1px solid #ccc !important;", @placeholder = "Active", @checked = "checked" })
                                    @Html.Label("Active")
                                    @Html.RadioButtonFor(model => model.CaseStatus, "Closed", new { name = "monthlyBy", Style = "border - bottom: 1px solid #ccc !important;", @placeholder = "New" })
                                    @Html.Label("Closed")
                                    @Html.RadioButtonFor(model => model.CaseStatus, "New", new { name = "monthlyBy", Style = "border - bottom: 1px solid #ccc !important;", @placeholder = "New" })
                                    @Html.Label("New")
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Notice Type</label>
                                    @Html.DropDownListFor(model => model.NoticeType, new List<SelectListItem>
   { new SelectListItem{Text="Select", Value=""},
     new SelectListItem{Text="Statutory", Value="Statutory"},
     new SelectListItem{Text="Non-Statutory", Value="Non-Statutory"}}, new { @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;" })
                                    @Html.ValidationMessageFor(model => model.NoticeType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Rejoinder</label>
                                    @Html.DropDownListFor(model => model.Rejoinder, new List<SelectListItem>
  { new SelectListItem{Text="Select", Value=""},
    new SelectListItem{Text="Yes", Value="Yes"},
    new SelectListItem{Text="No", Value="No"}}, new { @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Assignment of Task</label>
                                    @Html.DropDownListFor(model => model.AssignmentofTask, new List<SelectListItem>
   { new SelectListItem{Text="Select", Value=""},
     new SelectListItem{Text="To Self", Value="To Self"},
     new SelectListItem{Text="Colleague", Value="Colleague"}
                                     }, new { @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;" })
                                    @Html.ValidationMessageFor(model => model.AssignmentofTask, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Date of Notice</label>
                                    @Html.TextBoxFor(model => model.DateofNotice,
    new { type = "date", @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;", @Value = Model.DateofNotice != null ? Model.DateofNotice.Value.ToString("yyyy-MM-dd") : "n/a" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Date of Dispatch of Notice</label>
                                    @Html.TextBoxFor(model => model.DateofDispatchofNotice,
    new { type = "date", @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;", @Value = Model.DateofDispatchofNotice != null ? Model.DateofDispatchofNotice.Value.ToString("yyyy-MM-dd") : "n/a" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Date of Service of Notice</label>
                                    @Html.TextBoxFor(model => model.DateofServiceofNotice,
    new { type = "date", @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;", @Value = Model.DateofServiceofNotice != null ? Model.DateofServiceofNotice.Value.ToString("yyyy-MM-dd") : "n/a" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Date of Receiving Reply</label>
                                    @Html.TextBoxFor(model => model.DateofReceivingReply,
    new { type = "date", @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;", @id = "txtdateofreceivingreply", @Value = Model.DateofReceivingReply != null ? Model.DateofReceivingReply.Value.ToString("yyyy-MM-dd") : "n/a" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Mode of Receipt (Reply)</label>
                                    @Html.DropDownListFor(model => model.ModeofReceipt, new List<SelectListItem>
   { new SelectListItem{Text="Select", Value=""},
     new SelectListItem{Text="Post", Value="Post"},
     new SelectListItem{Text="Courier", Value="Courier"}}, new { @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Date of Rejoinder</label>
                                    @Html.TextBoxFor(model => model.DateofRejoinder,
    new { type = "date", @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;", @id = "txtdateofrejoinder", @Value = Model.DateofRejoinder.Value.ToString("yyyy-MM-dd") })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Mode of Delivery of Rejoinder</label>
                                    @Html.DropDownListFor(model => model.ModeofDeliveryofRejoinder, new List<SelectListItem>
   { new SelectListItem{Text="Select", Value=""},
     new SelectListItem{Text="Post", Value="Post"},
     new SelectListItem{Text="Courier", Value="Courier"}}, new { @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;", @id = "txtModeofdeliveryrejoinder" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Rejoinder Addressed to (Individual/ Company)</label>
                                    @Html.TextAreaFor(model => model.RejoinderAddressedto, 10, 40, new { @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;", @id = "txtrejoindernoticeto" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Addressee Address</label>
                                    @Html.TextAreaFor(model => model.AddresseeAddress, 10, 40, new { @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;", @id = "txtaddressto" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Other Details of Addressee (Parentage/ Spouse)</label>
                                    @Html.TextAreaFor(model => model.OtherDetailsofAddressee, 10, 40, new { @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;", @id = "txtotherdetailsofaddress" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Notice and Reply Reference</label>
                                    @Html.TextAreaFor(model => model.NoticeandReplyReference, 10, 40, new { @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;", @id = "txtnoticereplyreference" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Rejoinder Subject</label>
                                    @Html.TextBoxFor(model => model.RejoinderSubject, new { @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;", @id = "txtrejoindersub" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Notice Title</label>
                                    @Html.TextBoxFor(model => model.NoticeTitle, new { @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Rejoinder Through (Details of Advocate/Law Firm)</label>
                                    @Html.TextBoxFor(model => model.RejoinderThrough, new { @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;", @id = "txtrejoinderthrough" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Create Rejoinder</label>
                                    @Html.TextAreaFor(model => model.CreateRejoinder, new { @id = "CreateNotice", @class = "form-control", @rows = "200" })
                                    @Html.ValidationMessageFor(model => model.CreateRejoinder, "", new { @class = "text-danger" })
                                    <script>
                                        CKEDITOR.replace("CreateNotice");
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Date of Delivery (Once Approved by Client)</label>
                                    @Html.TextBoxFor(model => model.DateofDelivery,
    new { type = "date", @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;", @Value = Model.DateofDelivery != null ? Model.DateofDelivery.Value.ToString("yyyy-MM-dd") : "n/a" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Date of Receipt (Proof)</label>
                                    @Html.TextBoxFor(model => model.DateofReceipt,
    new { type = "date", @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;", @id = "txtdateofreceipt", @Value = Model.DateofReceipt.Value.ToString("yyyy-MM-dd") })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>TAT set for Assignee (Generation of Alerts)</label>
                                    @Html.TextBoxFor(model => model.GenerationofAlerts,
new { type = "date", @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;", @Value = Model.GenerationofAlerts != null ? Model.GenerationofAlerts.Value.ToString("yyyy-MM-dd") : "n/a" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Date of Creating Rejoinder</label>
                                    @Html.TextBoxFor(model => model.DateofCreatingRejoinder,
  new { type = "date", @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;", @Value = Model.DateofCreatingRejoinder != null ? Model.DateofCreatingRejoinder.Value.ToString("yyyy-MM-dd") : "n/a" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Current Status</label>
                                    @Html.TextAreaFor(model => model.CurrentStatus,
new { @class = "form-control", Style = "border - bottom: 1px solid #ccc !important; height: 30px !Important;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Upload Files</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label>Uploaded File</label>
                    <div class="table-panel table-responsive">
                        <div style="overflow-x:scroll;">
                            <table id="example" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>FileName</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tablevalue">
                                    @foreach (var item in ViewBag.MyList)
                                    {
                                        <tr>
                                            <td>@item.FileName</td>
                                            <td> <a href="~/RejoinderNotice/DownloadFile?filePath=@item.FileUrl">download</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <button type="submit" id="savereplynotice" class="sbtbtn">Submit</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="color:green">
                            @ViewBag.Message
                        </div>
                    </div>
                    <!-- /.content -->
                </form>
            </div>
        </div>
    </section>
}
