<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@ViewBag.Title - Law Practice</title>
    @*<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">*@
    @Styles.Render("~/bundles/jQueryBootStrapCss")
    @Styles.Render("~/bundles/FirmCss")
    @Scripts.Render("~/bundles/jQueryBootStrap")
    @Scripts.Render("~/bundles/Utility")
    <script src="~/Scripts/Firm/Pages/FirmMain.js"></script>
</head>
<body>
    <div>
        <!-- ***** Header Area Start ***** -->
        <header class="header_area animated">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Menu Area Start -->
                    <div class="col-12 col-lg-12">
                        <div class="menu_area">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <!-- Logo -->
                                <a class="navbar-brand" href="#" id="aFirmLabel"></a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                                <!-- Menu Area -->
                                <div class="collapse navbar-collapse" id="ca-navbar">
                                    <ul class="navbar-nav ml-auto" id="landingnav">
                                        <li class="btn-cta"><a href="#"><span>Make an Appointment</span></a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->
    </div>
    <div class="body-content container-login100">
        @RenderBody()
    </div>
    <div class="footer-contact-area">
        <!-- ***** Footer Area Start ***** -->
        <footer class="footer-social-icon text-center clearfix">
            <div class="">
                <div class="row row-pb-md">
                    <div class="col-md-3 colorlib-widget">
                        <h4 id="hFirmName"></h4>
                        <p id="pBriefDetails"></p>
                    </div>
                    <div class="col-md-3 col-md-push-1">
                        <h4>Navigation</h4>
                        <ul class="colorlib-footer-links" id="footernav">
                        </ul>
                    </div>
                    <div class="col-md-3 col-md-push-1">
                        <h4>Contact Information</h4>
                        <ul class="colorlib-footer-links" id="ulContact">
                            @*<li>198 West 21th Street, <br> Suite 721 New York NY 10016</li>
                                <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
                                <li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>*@
                        </ul>
                    </div>
                    <div class="col-md-3 col-md-push-1">
                        <h4>Opening Hours</h4>
                        <ul class="colorlib-footer-links" id="ulWorkingHours"></ul>
                    </div>
                </div>
                <div class="row copyright">
                    <div class="col-md-12 text-center">
                        <p>
                            <small class="block">&copy; 2018 <span id="sFirmName"></span> All Rights Reserved. </small>
                        </p>
                        <p>
                            <ul class="colorlib-social-icons">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ***** Footer Area Start ***** -->
    </div>
    @Scripts.Render("~/bundles/Common")
    @RenderSection("scripts", required: false)
</body>
</html>
