
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="icon" href="~/NewDesign/images/favicon.ico" type="image/x-icon">
    <script>
        var TOTALLIMIT = 50000;
        var TOTALLIMITMSG = "Total File size should not be more than 50 MB";
        var Filesizelabel = "Maximum File size 20MB Allowed for each File";
        var VirusScanResultMsgBefore = "<p style='color:red;font-size: 13px;word-break: break-word;'>The uploaded file";
        var VirusScanResultMsgAfter = " seems to be infected or containing malicious content.</p>";

    </script>

    <script type="text/javascript">

        function EncodeText(data) {
            if (data == "null" || data == null || data == "") {

            }
            else {
                data = encodeURIComponent(data);
            }
            return data;
        }
        function millisToMinutesAndSeconds(millis) {
            var minutes = Math.floor(millis / 60000);
            var seconds = ((millis % 60000) / 1000).toFixed(0);
            return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
        }
        var timerStart = Date.now();
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ESLK9EFX0X"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date()); gtag('config', 'G-ESLK9EFX0X');
    </script>
    <title>MyKase</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link href="~/Manupanel/css/bootstrap.min.css?1.1" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/newassets/css/style.css?4.5" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <link href="~/newassets/css/custom.css?1.5" rel="stylesheet" />
    <!-- Normal style -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <script src="~/CssJsfiles/js/2.02/jquery.min.js"></script>

    <script src="~/Scripts/AES.js"></script>
    <script>

        var _0x68e3 = ["", "\x2F\x61\x70\x69\x2F\x63\x61\x6C\x6C\x41\x70\x69\x2F\x54\x61\x73\x6B\x45\x4B\x44\x61\x74\x61", "\x50\x4F\x53\x54", "\x6A\x73\x6F\x6E", "\x44\x61\x74\x61", "\x2F\x53\x63\x72\x69\x70\x74\x73\x2F\x53\x69\x6D\x70\x6C\x79\x66\x79\x2E\x6A\x73", "\x67\x65\x74\x53\x63\x72\x69\x70\x74", "\x72\x65\x73\x70\x6F\x6E\x73\x65\x54\x65\x78\x74", "\x61\x6A\x61\x78"]; var dtqwe = _0x68e3[0]; $[_0x68e3[8]]({ url: _0x68e3[1], type: _0x68e3[2], dataType: _0x68e3[3], success: function (_0x8e52x2) { dtqwe = _0x8e52x2[_0x68e3[4]]; $[_0x68e3[6]](_0x68e3[5], function () { }) }, error: function (_0x8e52x2) { } })

    </script>


    <script src="~/Scripts/Plugin/accessbility.js"></script>
    <style>
        .mycursor {
            cursor: pointer;
            color: #069
        }

        input {
            cursor: text !important;
            background-color: #fff !important;
        }
    </style>

    @{
        /**/

        var firmcode12 = Request.Url.Segments[1];
        Session["firmcode"] = firmcode12.Replace("/", "");
    }

    <script>


        localStorage.setItem("sesalertflag", "");
        var SessionTimer;
        var role = @Session["sessionroleid"];

        $(document).ready(function () {
            setInterval("fnSessionRun()", 20000);

            var timerID = setInterval(function () {
                $.ajax({
                    async: true,
                    type: "POST",
                    url: "/Account/LogOn",
                    contentType: 'application/json',
                    dataType: 'json',
                    data: {},
                    success: function (data) {


                    },
                    failure: function (response) {

                    }, //End of AJAX failure function
                    error: function (response) {

                    } //End of AJAX error function
                });

            }, 60 * 1000);
        });
        function fnSessionRun() {

            $.ajax({
                async: true,
                type: "POST",
                url: "/api/CallApi/checksession",
                contentType: 'application/json',
                dataType: 'json',
                data: {},
                success: function (data) {
                    if (data.Data == true) {
                    }
                    else {
                        var storealert = localStorage.getItem("sesalertflag");

                        if (storealert == "") {
                            alert("Your session has expired, please log out and then login again");

                            window.location.href = "https://www.mykase.in/"
                        }
                        else {

                        }
                    }


                },
                 failure: function (response) {
                             window.location.href = "https://www.mykase.in/";
                            //alert(response.responseText);
                        }, //End of AJAX failure function
                        error: function (response) {
                            window.location.href = "https://www.mykase.in/";
                            //alert(response.responseText);
                        } //End of AJAX error function
                    });
       // alert(role);


     }



    </script>




    <script>
        var baseurl = "http://localhost:55513";
        function checkdatetimecustom(str2) {

            var patt2 = /[0-9]*-[0-9]*-[0-9]*T[0-9]*\:[0-9]*/m;

            var patt3 = /[0-9]{4}[-][0-9]{2}[-][0-9]{2}$/m;

            var patt4 = /[0-9]*-[0-9]*-[0-9]* [0-9]*\:[0-9]*/m;

            if (str2 != null) {
                var result = str2.match(patt2);
                var result1 = str2.match(patt3);
                var result4 = str2.match(patt4);

                if (result != null && String(result).length == "16") {
                    var result3 = checkdatetimecustomdt(result);
                    return result3;
                }
                else if (result4 != null && String(result4).length == "16") {
                    var result4 = checkdatetimecustomdt(result4);
                    return result4;
                }
                else if (result1 != null && String(result1).length == "10") {
                    var result31 = formatDatetoIST(result1);
                    return result31;
                }
                else {
                    return str2;
                }


            }
        }


    </script>
    <script>
        function dtoe(hexstring) {
            return btoa(hexstring.match(/\w{2}/g).map(function (a) {


                return String.fromCharCode(parseInt(a, 16));
            }).join(""));
        }
    </script>

    <script>
        function correctfilename(strdatas) {

            var strdata = "";
            if (strdatas != null) {

                strdata = String(strdatas).substring(String(strdatas).lastIndexOf("/") + 1);

                string1 = String(strdata).split('.')[0];
                string2 = String(strdata).split('.')[1];

                var string1 = String(string1).substring(0, String(string1).length - 10);
                strdata = string1.concat("." + string2)

                return strdata;
            }
            else {
                return strdatas;
            }
        }


        function formatDatetoIST(date) {
            if (date == "1900-01-01T00:00:00" || date == "1900-01-01") {
                return "";
            }
            else {
                const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                let current_datetime = new Date(date)
                let formatted_date = current_datetime.getDate() + " " + months[current_datetime.getMonth()] + " " + current_datetime.getFullYear()

                return formatted_date;
            }

        }

        function checkdatetimecustomdt(date) {
            const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            let current_datetime = new Date(date)
            let formatted_date = current_datetime.getDate() + "-" + months[current_datetime.getMonth()] + "-" + current_datetime.getFullYear() + " / " + addZero(current_datetime.getHours()) + ":" + addZero(current_datetime.getMinutes()) + ":" + addZero(current_datetime.getSeconds())

            return formatted_date;

        }
        function addZero(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
        function formatTimeEntry(strDate) {
            arr = strDate.split(':');
            hour = parseInt(arr[0]);
            min = parseInt(arr[1]);
            sec = parseInt(arr[2]);


            var newhour = (hour < 10) ? '0' + hour.toString() : hour.toString();
            var newmin = (min < 10) ? '0' + min.toString() : min.toString();
            var newsec = (sec < 10) ? '0' + sec.toString() : sec.toString();

            return newhour + ":" + newmin + ":" + newsec;

        }

    </script>


    <script type="text/javascript">
        function url_redirect(options) {
            validnavigation = true;
            window.onbeforeunload = null;
            var $form = $("<form />");
            $form.attr("action", options.url);
            $form.attr("method", options.method);

            for (var data in options.data)
                $form.append('<input type="hidden" name="' + data + '" value="' + options.data[data] + '" />');

            $("body").append($form);
            $form.submit();
        }
    </script>

    @*@Scripts.Render("~/bundles/jQueryBootStrap")

        @Scripts.Render("~/bundles/Utility")*@

    <script>
        $(document).ready(function () {
            $(document).on("click", "#print", function () {

                var divElements = document.getElementById("PrinDivID").innerHTML;
                //Get the HTML of whole page
                var oldPage = document.body.innerHTML;
                //Reset the page's HTML with div's HTML only
                document.body.innerHTML = "<html><head><title></title></head><body>" +
                    divElements + "</body>";
                //Print Page
                window.print();
                //Restore orignal HTML
                document.body.innerHTML = oldPage;

            })
        });
    </script>
    <script type="text/javascript">
        /*code: 48-57 Numbers
          8  - Backspace,
          35 - home key, 36 - End key
          37-40: Arrow keys, 46 - Delete key*/
        function restrictAlphabets(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>

    <script type="text/javascript">
        /*code: 48-57 Numbers
          8  - Backspace,
          35 - home key, 36 - End key
          37-40: Arrow keys, 46 - Delete key*/
        function restrictAlphabetsfax(evt) {
            evt = (evt) ? evt : window.event;

            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode == 45 || charCode == 47) {
                return true;
            }
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }

            return true;
        }


        function specialcharecter(datas) {
            var strretrn = "0";
            var iChars = "!`%^*()+=-[]\\\';,/{}|\":<>?~ ";
            var data = datas;
            for (var i = 0; i < data.length; i++) {
                if (iChars.indexOf(data.charAt(i)) != -1) {
                    alert("Special character and Space not allowed in user name.");

                    strretrn = "1";
                    break;
                }
            }
            return strretrn;
        }

        function allowedonlynumeric(datas) {
            var strretrn = "0";
            var iChars = "!`%^*()+=-[]\\\';,/{}|\":<>?~ ";
            var data = datas;
            for (var i = 0; i < data.length; i++) {
                if (iChars.indexOf(data.charAt(i)) != -1) {
                    alert("Special character and Space not allowed in user name.");

                    strretrn = "1";
                    break;
                }
            }
            return strretrn;
        }
    </script>
    <script>
        $(document).on("click", "#printdocsmykase", function () {
            var id = $(this).attr("idval");
            var title = $(this).attr("idtitle");
            DivID = id;
            var contents = $("#" + DivID).html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute", "top": "-1000000px" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html><head><title>' + title + ' - MyKase</title>');
            frameDoc.document.write('</head><body>');
            //Append the external CSS file.
            frameDoc.document.write('<link href="/Manupanel/css/AdminLTE.css" rel="stylesheet" type="text/css" />');
            frameDoc.document.write('<link href="/Manupanel/css/style.css" rel="stylesheet" type="text/css" />');
            //Append the DIV contents.
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {
                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);

        });

    </script>
    <link href="~/newassets/css/flipcard.css?1.15" rel="stylesheet" />

    <script>
        $().ready(function () {
            $('[rel="tooltip"]').tooltip();

        });

        function rotateCard(btn) {
            var $card = $(btn).closest('.card-container');
            console.log($card);
            if ($card.hasClass('hover')) {
                $card.removeClass('hover');
            } else {
                $card.addClass('hover');
            }
        }
    </script>

</head>
<body notranslate>
    @using DataAccess.Modals;
    @{

        var urlsegment = Request.Url.Segments[3];
        urlsegment = urlsegment.Replace("/", "");
        var db = new LawPracticeEntities();
        var foutput = true;
        var frmids = Session["sessionfirmid"].ToString();
        var usrids = Session["sessionuserid"].ToString();
        int rlid = Convert.ToInt32(Session["sessionroleid"].ToString());
        // var ckseurity = db.sp_checkPackesecurity(frmids.ToString(), urlsegment.ToString(), rlid).ToList();
        var ckseurity = db.sp_checkModulePackesecurity(frmids.ToString(), urlsegment.ToString(), rlid).ToList();

        if (ckseurity.Count > 0)
        {
            foutput = false;
        }
        if (foutput == false){}
        else
        {
            Response.Redirect("~/home/UnauthoriseAdmin");
        }
        int pageid = 0;
        var sflag = true;
        if (urlsegment == "ViewKnowledge")
        {
            urlsegment = "ViewKnowledge/0";
        }
        if (urlsegment == "directorylist")
        {
            urlsegment = "directorylist/0";
        }


        var pagelist = db.usp_GetRightsPageDatabyPagelink(Convert.ToString(urlsegment)).ToList();

        if (pagelist.Count > 0)
        {
            foreach (var data in pagelist)
            {

                int pwrite = 0, pview = 0, pedit = 0, pdel = 0, pviewall = 0, peditall = 0;
                pageid = Convert.ToInt32(data.ParentPage);
                pwrite = Convert.ToInt32(data.Write);
                pview = Convert.ToInt32(data.View);
                pedit = Convert.ToInt32(data.Edit);
                pdel = Convert.ToInt32(data.Delete);
                pviewall = Convert.ToInt32(data.ViewAll);
                peditall = Convert.ToInt32(data.EditAll);
                dynamic pageaccesslist;
                //if (urlsegment?.ToLower().ToString() == "caselist" || urlsegment == "NewCaseDashboard" || urlsegment == "Casedetails" || urlsegment == "EditCase" || urlsegment == "CreateCase" || urlsegment.ToLower() == "livecaselist" || urlsegment == "DailyCauseList" || urlsegment == "SearchByPartyName" || urlsegment == "ArchiveLiveCaseList" || urlsegment == "StandardCaseList")
                //{
                //    pageaccesslist = db.usp_GetUserCaseModuleRights(frmids, usrids, usrids, pageid).ToList();
                //}
                //else
                //{
                //    pageaccesslist = db.usp_GetUserModuleRights(frmids, usrids, usrids, pageid).ToList();
                //}
                pageaccesslist = db.usp_GetUserModuleRights(frmids, usrids, usrids, pageid).ToList();
                int write = 0, view = 0, edit = 0, del = 0, viewall = 0, editall = 0, share = 0, enable = 0, export = 0;
                if (pageaccesslist.Count > 0)
                {
                    foreach (var access in pageaccesslist)
                    {
                        write = Convert.ToInt32(access.Write);
                        view = Convert.ToInt32(access.View);
                        edit = Convert.ToInt32(access.Edit);
                        del = Convert.ToInt32(access.Delete);
                        viewall = Convert.ToInt32(access.ViewAll);
                        editall = Convert.ToInt32(access.EditAll);
                        Session["IsViewAll"] = viewall;
                        Session["share"] = 0;
                        Session["enable"] = 0;
                        Session["export"] = 0;
                        try
                        {
                            Session["share"] = access.Share;
                            Session["enable"] = access.Enable;
                            Session["export"] = access.Export;
                            ViewBag.share = access.Share;
                        }
                        catch
                        {
                        }
                        if (viewall > 0 || editall > 0)
                        {
                            foutput = false;
                            Session["IsDelete"] = del;
                            Session["IsCreate"] = write;
                            Session["IsEdit"] = edit;
                            if (write == 1)
                            {
                                foutput = false;
                            }
                            if (pedit == 1)
                            {
                                if (edit == 1 || editall == 1)
                                {
                                    foutput = false;
                                }
                                else
                                {
                                    foutput = true;
                                }
                            }
                        }
                        else
                        {
                            // logic for write(create)
                            if (sflag == true)
                            {
                                if (write > 0)
                                {
                                    Session["IsCreate"] = write;
                                    if (pwrite == write)
                                    {
                                        foutput = false;
                                        sflag = false;
                                    }
                                }
                                else
                                {
                                    Session["IsCreate"] = 0;
                                    foutput = true;

                                }
                            }
                            //logic for view
                            if (sflag == true)
                            {
                                if (view > 0)
                                {
                                    if (pview == view)
                                    {
                                        foutput = false;
                                        sflag = false;
                                    }
                                }
                                else
                                {
                                    foutput = true;

                                }
                            }
                            //logic for edit(
                            if (sflag == true)
                            {
                                if (edit > 0)
                                {
                                    if (pedit == edit)
                                    {
                                        foutput = false;
                                        sflag = false;
                                        Session["IsEdit"] = edit;
                                    }
                                }
                                else
                                {
                                    foutput = true;
                                }
                            }
                            //logic for delete
                            Session["IsDelete"] = 0;
                            if (del > 0)
                            {
                                Session["IsDelete"] = 1;
                            }
                            else
                            {
                                Session["IsDelete"] = 0;

                            }
                        }
                    }
                }
                //else
                //{
                if (pageid == 151 && Session["enable"]?.ToString() == "1")
                {
                    foutput = false;
                }
                //    Response.Redirect("~/home/UnauthoriseAdmin");
                //}
                if (foutput == false)
                {
                }
                else
                {
                    Response.Redirect("~/home/UnauthoriseAdmin");

                }
            }
        }
        else
        {
        }
        try
        {
            if (urlsegment.ToString().ToLower() == "searchbypartyname" || urlsegment.ToString().ToLower() == "livecaselist" || urlsegment.ToString().ToLower() == "dailycauselist" || urlsegment.ToString().ToLower() == "casedetails" || urlsegment.ToString().ToLower() == "cnrcasedetails")
            {
                var checkCWACtive = db.usp_GetFirmLimit(frmids.ToString()).FirstOrDefault();
                if (checkCWACtive != null)
                {
                    if (checkCWACtive.IsCWActive != 1)
                    {
                        Response.Redirect("~/home/UnauthoriseAdmin");
                    }
                }
            }
        }
        catch
        {

        }

        //for side bar contact
        var frmids1 = Session["sessionfirmid"].ToString();
        var usrids1 = Session["sessionuserid"].ToString();
        Session["IsCreateSideContact"] = 0;
        Session["IsCreateSidetimer"] = 0;
        Session["IsCreateSidecase"] = 0;
        //var pageaccesscontact = db.usp_GetUserModuleRights(frmids1, usrids1, usrids1, 65).FirstOrDefault();
        //if (pageaccesscontact != null)
        //{
        //    Session["IsCreateSideContact"] = pageaccesscontact.Write;
        //}

        ////for side bar timer
        //var pageaccesstimer = db.usp_GetUserModuleRights(frmids1, usrids1, usrids1, 102).FirstOrDefault();
        //if (pageaccesstimer != null)
        //{
        //    Session["IsCreateSidetimer"] = pageaccesstimer.Write;
        //}

        //for side bar case
        //var pageaccesscase = db.usp_GetUserCaseModuleRights(frmids1, usrids1, usrids1, 95).FirstOrDefault();
        //if (pageaccesscase != null)
        //{
        // Session["IsCreateSidecase"] = pageaccesscase.Write;
        // }


        var chckispartner = db.usp_CheckIsPartner(frmids1, usrids1).FirstOrDefault();
        if (chckispartner == 1)
        {
            Session["IsPartner"] = "1";
        }
        else

        {
            Session["IsPartner"] = "0";
        }

        var ct = db.usp_Deleteonlyofficeuser(frmids1, usrids1, "");
    }


    <div id="myModalcpd" class="modal fade myModalcpd" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">

            Modal content
            <div class="modal-content mymodelscpd" id="mymodelscpd">


            </div>

        </div>
    </div>

    <script>

        function openloader() {
            $('#myOverlay').css("display", "block");
        }

        function closeloader() {
            $('#myOverlay').css("display", "none");
        }

    </script>
    <script>
        var _validFileExtensionDOC = [".doc", ".docx", ".pdf", ".xls", ".xlsx", ".txt", ".ppt", ".pptx", ".csv", ".jpg", ".jpeg", ".png", ".jfif", ".tiff",".zip", ".mp4"];

        function checkfileextDOC(filename) {
            var blnValid = false;
            for (var j = 0; j < _validFileExtensionDOC.length; j++) {
                var sCurExtension = _validFileExtensionDOC[j];
                if (filename.substr(filename.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                    blnValid = true;
                    break;
                }
            }

            if (!blnValid) {
                alert("Sorry, " + filename + " is invalid, allowed extensions are: " + _validFileExtensionDOC.join(", "));
                try {
                    $("#attachment").val("");
                    $("#postedFile").val("");
                }
                catch (er) {

                }
                return "false";

            }
            else {
                return "true";

            }
        }

    </script>
    <script>
        var _validFileExtension = [".doc", ".docx", ".pdf", ".xls", ".xlsx", ".txt", ".ppt", ".pptx", ".csv", ".jpg", ".jpeg", ".png", ".jfif", ".tiff",".mp4"];

        function checkfileext(filename) {
            var blnValid = false;
            for (var j = 0; j < _validFileExtension.length; j++) {
                var sCurExtension = _validFileExtension[j];
                if (filename.substr(filename.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                    blnValid = true;
                    break;
                }
            }

            if (!blnValid) {
                alert("Sorry, " + filename + " is invalid, allowed extensions are: " + _validFileExtension.join(", "));
                try {
                    $("#attachment").val("");
                    $("#postedFile").val("");
                }
                catch (er) {

                }
                return "false";

            }
            else {
                return "true";

            }
        }

    </script>
    <script>
        var _validFileExtensionmsg = [".doc", ".docx", ".pdf", ".xls", ".xlsx", ".txt", ".ppt", ".pptx", ".csv", ".jpg", ".jpeg", ".png", ".jfif", ".tiff", ".htm", ".html"];

        function checkfileextmsg(filename) {
            var blnValid1 = false;
            for (var j = 0; j < _validFileExtensionmsg.length; j++) {
                var sCurExtension1 = _validFileExtensionmsg[j];
                if (filename.substr(filename.length - sCurExtension1.length, sCurExtension1.length).toLowerCase() == sCurExtension1.toLowerCase()) {
                    blnValid1 = true;
                    break;
                }
            }

            if (!blnValid1) {
                alert("Sorry, " + filename + " is invalid, allowed extensions are: " + _validFileExtensionmsg.join(", "));
                try {
                    $("#attachment").val("");
                    $("#postedFile").val("");
                }
                catch (er) {

                }
                return "false";

            }
            else {
                return "true";

            }
        }

    </script>
    <script>
        var _validFileExtensionmsg2 = [".doc", ".docx", ".pdf", ".ppt", ".pptx", ".jpg", ".jpeg", ".png", ".gif"];

        function browsecomparedoc(filename) {
            var blnValid12 = false;
            for (var j2 = 0; j2 < _validFileExtensionmsg2.length; j2++) {
                var sCurExtension12 = _validFileExtensionmsg2[j2];
                if (filename.substr(filename.length - sCurExtension12.length, sCurExtension12.length).toLowerCase() == sCurExtension12.toLowerCase()) {
                    blnValid12 = true;
                    break;
                }
            }

            if (!blnValid12) {
                alert("Sorry, " + filename + " is invalid, allowed extensions are: " + _validFileExtensionmsg2.join(", "));
                try {
                    $("#attachment").val("");
                    $("#postedFile").val("");
                }
                catch (er) {

                }
                return "false";

            }
            else {
                return "true";

            }
        }

    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#stoptimer1").css("display", "none");

            var sesh = sessionStorage.getItem("h");
            var sesm = sessionStorage.getItem("m");
            var sess = sessionStorage.getItem("s");

            if (sesh == 0 && sesm == 0 && sess == 0) {

                h = 00;
                m = 00;
                s = 00;

            }
            else if (sesh == "NaN" && sesm == "NaN" && sess == "NaN") {

                h = 00;
                m = 00;
                s = 00;

            }

            else {

                h = sesh;
                m = sesm;
                s = sess;

            }



            var interval1 = 1;

            var timestamp1 = new Date("July 20, 2016 " + h + ':' + m + ':' + s);

            var t1 = '';


            function timesr1() {


                if (h == "null" && m == "null" && s == "null") {

                    h = 00;
                    m = 00;
                    s = 00;


                }

                timestamp1 = new Date("July 20, 2016 " + h + ':' + m + ':' + s);

                t1 = window.setInterval(function () {
                    timestamp1 = new Date(timestamp1.getTime() + interval1 * 1000);

                    document.getElementById('countdown3').innerHTML = timestamp1.getHours() + 'h:' + timestamp1.getMinutes() + 'm:' + timestamp1.getSeconds() + 's';

                    sessionStorage.setItem("h", timestamp1.getHours());
                    sessionStorage.setItem("m", timestamp1.getMinutes());
                    sessionStorage.setItem("s", timestamp1.getSeconds());



                }, Math.abs(interval1) * 1000);



            }




            function starttime() {



                $("#starttimer1").css("display", "none");
                $("#stoptimer1").css("display", "block");
                var sesh = sessionStorage.getItem("h");
                var sesm = sessionStorage.getItem("m");
                var sess = sessionStorage.getItem("s");
                if (sesh != null && sesm != null && sess != null) {


                    h = sesh;
                    m = sesm;
                    s = sess;

                }

                else {
                    h = 00;
                    m = 00;
                    s = 00;
                }

                timesr1();
            }




            clearInterval(t1);



            $("#starttimer1").click(function () {
                $("#timernotes").css("display", "block");


                if (sesh == "NaN" && sesm == 'NaN' && sess == 'NaN') {
                    sessionStorage.setItem("h", 00);
                    sessionStorage.setItem("m", 00);
                    sessionStorage.setItem("s", 00);


                }
                else {
                    sessionStorage.setItem("h", sessionStorage.getItem("h"));
                    sessionStorage.setItem("m", sessionStorage.getItem("m"));
                    sessionStorage.setItem("s", sessionStorage.getItem("s"));
                }

                starttime();



            });


            $("#canceltimerw").click(function () {
                if (window.confirm("Do you really want to Stop Timer?")) {
                    $("#timernotes").css("display", "none");
                    $("#starttimer1").css("display", "block");
                    $("#stoptimer1").css("display", "none");
                    sessionStorage.setItem("h", 0);
                    sessionStorage.setItem("m", 0);
                    sessionStorage.setItem("s", 0);

                    $("#countdown3").html("0h:0m:0s");

                    window.clearInterval(t1);
                }

            });

            $("#stoptimer1").click(function () {

                sessionStorage.setItem("h", timestamp1.getHours());
                sessionStorage.setItem("m", timestamp1.getMinutes());
                sessionStorage.setItem("s", timestamp1.getSeconds());
                $("#starttimer1").css("display", "block");
                $("#stoptimer1").css("display", "none");

                clearInterval(t1);


            });
            jQuery('#modeltimer').click(function (e) {


                openload();

                try {
                    //alert("yff");

                    //var editor = CKEDITOR.instances.details;
                    //if (editor) {
                    //    alert('instance exists');
                    //    editor.destroy(true);
                    //    alert('destroyed');
                    //}



                    //CKEDITOR.replace('details');

                    //if (CKEDITOR.instances['details']) {
                    //    alert("y");
                    //    CKEDITOR.remove(CKEDITOR.instances['details']);
                    //} else {
                    //    alert("n");
                    //    //CKEDITOR.replace('details');
                    //}

                    //var editor = CKEDITOR.instances['details'];

                    //if (!editor) {
                    //    CKEDITOR.replace('details');

                    //    alert("ree");
                    //}
                }
                catch (ex) {

                }
                $("#timernotes").css("display", "none");

                localStorage.setItem("timervalue", $("#countdown3").html());
                localStorage.setItem("timerdata", $("#timerdata").val());
                $("#timerdata").val("");

                sessionStorage.setItem("h3", sessionStorage.getItem("h"));
                sessionStorage.setItem("m3", sessionStorage.getItem("m"));
                sessionStorage.setItem("s3", sessionStorage.getItem("s"));
                sessionStorage.setItem("h", 0);
                sessionStorage.setItem("m", 0);
                sessionStorage.setItem("s", 0);
                $("#starttimer1").css("display", "block");
                $("#stoptimer1").css("display", "none");
                $("#countdown3").html("0h:0m:0s");

                window.clearInterval(t1);

                var url = "/firm/Configtimer";
                $('.mymodels').load(url, function (result) {

                    $('#myModal').modal({ show: true });
                    closeload();
                });
            });

        });
    </script>





    <script>
        function openload1() {

        }

        function closeload1() {

        }
        function openloadercomman() {

        }

        function closeloadercomman() {

        }

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            //console.log("Time until DOMready: ", millisToMinutesAndSeconds(Date.now() - timerStart));

        });
        $(window).load(function () {
            //console.log("Time until everything loaded: ", millisToMinutesAndSeconds(Date.now() - timerStart));

        });
        $(function () {
            var dtToday = new Date();

            var month = dtToday.getMonth() + 1;
            var day = dtToday.getDate();
            var year = dtToday.getFullYear();
            if (month < 10)
                month = '0' + month.toString();
            if (day < 10)
                day = '0' + day.toString();

            var maxDate = year + '-' + month + '-' + day;
            $('#taskduedate,#actionbydate').attr('min', maxDate);
            $('#actionbydate').attr('max', maxDate);
        });
    </script>


    @{
        var roleids = Session["sessionroleid"];
        bool isRBI = (Session["sessionfirmid"] ?? "").ToString().ToUpper() == "434BA18E-81F9-401A-B334-7A37713E1BC6";
        bool isRBIPartnerUser = isRBI && (roleids.ToString() == "2" || roleids.ToString() == "3");

        if (roleids.ToString() == "1" || isRBIPartnerUser)
        {

            @Html.Action("header", "firm")
            @Html.Action("AuthenticateFirm", "firm")

        }
        else if (roleids.ToString() == "2")
        {
            @Html.Action("header", "employee")
        }
        else if (roleids.ToString() == "3")
        {
            @Html.Action("header", "client")
        }
    }

    <main id="main" class="main">
        @RenderBody()
    </main>
    @{
        var rqstpage = Request.Url.Segments[3];

        if (rqstpage.ToLower() == "receivemessagelist" || rqstpage.ToLower() == "configmessagelist" || rqstpage.ToLower() == "configmessagelist" || rqstpage.ToLower() == "archivemessagelist")
        {

        }
        else
        {
            @RenderPage("~/Views/Shared/_conflictmsgquicktabchat.cshtml")
        }
    }
    @*<div id='divChatReminder' style="background:white;text-align:center;color:#333;position:fixed;bottom:10px;right:70px;border:1px solid #4CAF50;border-radius: 5px;padding:10px 5px;width:200px;font-weight:bold;display:none">
            You have a new <a href="/@Session["firmcode"]/Chat/InvitedChat" id="lnkchatreminderjoin"><b>Chat!</b></a>
            <img src="/NewDesign/images/v_btn.png" class="close_a" id="chatreminderClose" width="22px" height="22" style="right: -12px; top: -27px;cursor:pointer" onclick="$('#divChatReminder').hide();sessionStorage.setItem('hidtempchattime', getDateTime());">
        </div>*@
    @*<div id='divChatReminder' class="newchat" style="display:none">
        <a href="/@Session["firmcode"]/Chat/InvitedChat" id="chatjoin">
            <img src="/newassets/images/chat-icon.png" width="45" height="45" alt="Chat" />
        </a>
    </div>*@

    @RenderPage("~/Views/Shared/_contact.cshtml")
    <script type="text/javascript">
        function tableToExcelnew(tableID, filename = '') {

            var downloadurl;
            var dataFileType = 'application/vnd.ms-excel';
            var tableSelect = document.getElementById(tableID);

            var tableHTMLData = tableSelect.outerHTML.replace(/(<img([^>]+)>)/ig, "").replace(/(<input([^>]+)>)/ig, "").replace(/ /g, '%20');




            // Specify file name
            filename = filename ? filename + '.xls' : 'export_excel_data.xls';

            // Create download link element
            downloadurl = document.createElement("a");

            document.body.appendChild(downloadurl);

            if (navigator.msSaveOrOpenBlob) {
                var blob = new Blob(['\ufeff', tableHTMLData], {
                    type: dataFileType
                });
                navigator.msSaveOrOpenBlob(blob, filename);
            } else {
                // Create a link to the file
                downloadurl.href = 'data:' + dataFileType + ', ' + tableHTMLData;

                // Setting the file name
                downloadurl.download = filename;

                //triggering the function
                downloadurl.click();
            }
        }

    </script>
</body>

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="~/CssJsfiles/js/3.5.0/moment.js"></script>
@*<script src="~/CssJsfiles/js/moment.min.js"></script>*@
<script src="~/CssJsfiles/js/daterangepicker.min.js"></script>
<link href="~/CssJsfiles/css/daterangepicker.css" rel="stylesheet" />
<link href="~/Manupanel/calender/dist/jquery.datetimepicker.min.css" rel="stylesheet" />



<!-- jQuery UI 1.10.3 -->

<script src="~/Manupanel/pnotify/pnotify.custom.min.js"></script>
<link href="~/Manupanel/pnotify/pnotify.custom.min.css" rel="stylesheet" />
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<script src="~/Manupanel/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
<!-- Bootstrap -->
<script src="~/Manupanel/js/bootstrap.min.js" type="text/javascript"></script>
<!-- AdminLTE App -->
