<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>@ViewBag.Title - Law Practice</title>

    @Styles.Render("~/bundles/jQueryBootStrapCss")

    @Styles.Render("~/bundles/applicationCss")


    @Scripts.Render("~/bundles/jQueryBootStrap")

    @Scripts.Render("~/bundles/Utility")

</head>
<body>
    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            @*<a class="navbar-brand" href="#">Legal Practice</a>*@
                            @Html.ActionLink("Legal Practice", "index", "home",null,new {@class= "navbar-brand" })
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item active"><a class="nav-link" href="#home">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#screenshot">Screenshot</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#pricing">Pricing</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                                </ul>
                                <div class="sing-up-button d-lg-none">
                                    @Html.ActionLink("Sign Up Free", "Registration", "Account")
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                        @Html.ActionLink("Sign Up Free", "Registration", "Account")
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <div>
        @RenderBody()
    </div>
    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-social-icon text-center section_padding_70 clearfix">
        <!-- footer logo -->
        <div class="footer-text">
            <h2><img src="~/Content/Application/img/bg-img/manupatra_initiative.png" alt="Manupatra" /></h2>
        </div>
        <!-- social icon-->
        <div class="footer-social-icon">
            <a href="https://www.facebook.com/pages/Manupatra-Information-Solutions-Pvt-Ltd/58407158641" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://twitter.com/manupatrainfo" target="_blank"><i class="active fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/authwall?trk=gf&trkInfo=AQEcuxxWeDTyjAAAAWMpb4rwOOKCxRwUA5ks7kmjeLvVn_b8VDN_o5cxH711-jonRI2GHRcQ39ov1mfxbCRraVQ2BxIUwRd-nN0bZoOsL8IjpTZdL7ulGNRVLvkaFgy6nWBczD0=&originalReferer=http://www.manupatrafast.com/Defaults/contactus.aspx&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fmanupatra%3Ftrk%3Dvsrp_companies_res_name%26trkInfo%3DVSRPsearchId%253A456067171374734050138%252CVSRPtargetId%253A153896%252CVSRPcmpt%253Aprimary" target="_blank"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://plus.google.com/107197207139482433127/posts" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </div>
        <div class="footer-menu">
            <nav>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
        <!-- Foooter Text-->
        <div class="copyright-text">
            <!-- ***** Removing this text is now allowed! This template is licensed under CC BY 3.0 ***** -->
            <p>© Copyright Manupatra Information Solutions Pvt. Ltd. 2018. All rights reserved.</p>
        </div>
    </footer>
    <!-- ***** Footer Area Start ***** -->


    @Scripts.Render("~/bundles/Common")

    @RenderSection("scripts", required: false)

</body>
</html>
