<!DOCTYPE html>
@{
    /**/
    /**/
    var role = Session["sessionroleid"];
    var userid = Session["sessionuserid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    else if (role.ToString() == "3")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialClient.cshtml";
    }
    var parmsval = Request.Params["type"];
}
<script>
    var roleid = "@role";
     var userid = "@userid";
    var NoticeId="@ViewBag.NoticeId";
</script>
<link href="~/dist/select2/css/select2.min.css" rel="stylesheet" />
<script src="~/dist/select2/js/select2.min.js"></script>
<link href="~/Manupanel/css/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Manupanel/js/daterangepicker.min.js"></script>
<script src="~/Scripts/Notice/ReceivedNotice.js?11.1"></script>
<script src="~/Scripts/Notice/commonviewmore.js?10.5"></script>
<script src="~/Scripts/Notice/ExportToExcelNotice.js?1.6"></script>
<script src="~/Scripts/Notice/Tracking.js?2.5"></script>
<style>
    .status_badge {
        max-width: fit-content;
        display: flex;
        align-items: center;
        gap: 8px;
        /* border: 1px solid #ccc; */
        padding: 3px 8px;
        border-radius: 7px;
        background: #f5f5f5d4;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

        .status_badge span {
            display: block;
            height: 8px;
            width: 8px;
            border-radius: 50%;
        }

    .active1 {
        background: green;
    }

    .Settled {
        background: grey;
    }

    .Convertedmatter {
        background: red;
    }

    .InActive {
        background: orange;
    }

    .low {
        background: green;
    }

    .medium {
        background: grey;
    }

    .high {
        background: red;
    }

    #searchnoticeTile {
        border-box: box-sizing !important;
        /*background-image: url(../../Content/assets/searchicon.png) !important;
        background-position: 14px 12px !important;*/
        background-repeat: no-repeat !important;
        /*font-size: 16px !important;*/
        /*padding: 14px 20px 12px 45px !important;*/
        /*border: none !important;*/
        border-bottom: 1px solid #ddd !important;
        width: 280px;
    }

    .settingshowhide li {
        margin-left: 10px !important;
    }

    .typeahead {
        overflow: scroll !important;
    }
    /*#reminderhighlighcls td {
        background-color: #d0f0c0;
    }*/
    #reminderhighlighcls td {
        color: #f52525 !important;
    }

    tblReplyReceived thead tr th {
        background-color: #ffffff !important;
    }
    /*Below css added ruby abhishek*/
    .tblReplyReceived thead tr th {
        background-color: #ffffff !important;
    }

    #tblpoitem {
        margin: 6px 0;
        padding: 10px;
        background: #ffffff;
        border: 1px solid #b1b1b1;
        border-radius: 10px;
    }

        #tblpoitem table {
            width: 100%;
        }

        #tblpoitem h2 {
            margin: 0 0 10px 0;
            padding: 2px 7px;
            font-size: 15px;
            border-bottom: 1px solid #e3e3e3;
            color: #145cbf;
        }

    .tblReplyReceived tr {
        border-bottom: none;
    }

    .tblReplyReceived tbody tr td {
        color: #020202;
        font-size: 13px;
        font-weight: 400;
        padding: 1px 8px !important;
    }

    #tblrejoinderitem {
        background: #f1f3f4;
        overflow-x: scroll;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ccc;
        width: 1150px;
    }

        #tblrejoinderitem h2 {
            margin: 0 0 10px 0;
            padding: 2px 0px;
            font-size: 15px;
            border-bottom: 1px solid #a3a3a3;
        }

        #tblrejoinderitem table {
            background-color: transparent;
        }

            #tblrejoinderitem table th {
                background-color: #0c4a6e !important;
                border-radius: 0;
                font-size: 13px;
                color: #ffffff;
                padding: 8px 8px !important;
                white-space: nowrap;
                border: none !important;
                font-weight: normal;
                height: auto;
            }

            #tblrejoinderitem table tbody tr td {
                color: #020202;
                font-size: 14px;
                font-weight: 300;
                padding: 3px 8px !important;
                border-top: none !important;
                background: #fff;
            }

    .glyphicon-chevron-down:before {
        font-size: 11px !important;
        padding: 0px 0 0 6px !important;
        color: #6d6d6d;
    }

    .pipesapcls {
        margin: 0;
        padding: 0 5px;
        color: #0059c1;
        font-weight: 500;
    }

    #childtbltr {
        background-color: #d0f0c0;
    }

    #trcolhighlighbydate {
        background: #d0f0c0 !important;
    }

        #trcolhighlighbydate td {
            background-color: transparent !important;
        }

    .select2-container {
        width: 100% !important;
    }

    .select2-container--default .select2-selection--multiple {
        background-color: white;
        border: 1px solid #fff !important;
        border-radius: 50px !important;
        cursor: text;
        /* width: 100%; */
    }

    fieldset {
        background-color: transparent;
    }

    .modal-body fieldset {
        border: 1px solid #ccc !important;
        border-radius: 5px;
    }

    .modal-dialog {
        width: 700px;
        margin: 30px auto;
    }

    .scroll-sync-top {
        overflow-x: auto;
        overflow-y: hidden;
        height: 16px;
        background-color: transparent;
        display: none;
    }

    .scroll-top-inner {
        height: 1px;
    }

    .table-scroll-wrapper {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

        .table-scroll-wrapper::-webkit-scrollbar {
            display: none;
        }

    .scroll-sync-top::-webkit-scrollbar {
        height: 8px;
    }

    .table-panel th {
        position: sticky;
        top: 0;
        z-index: 9;

        background-color: #fafafa;
        border-bottom: 1px solid #e5e7eb;
        border-top: 1px solid #e5e7eb;
        box-sizing: border-box;
        height: 44px;
        align-items: center;
        padding: 0px;
        font-size: 12px;
        color: #717680;
        font-weight: 600;
        white-space: nowrap;
    }

        .table-panel th .thbg {
            position: sticky;
            top: 0;
            background-color: #fafafa;
            z-index: auto;
        }

    .tablecontainer {
        max-height: 600px;
        overflow-y: auto;
        position: relative;
        /*v*/
        z-index: 0;
    }

</style>
@*by prem*@
<style>
    .tabs {
        display: flex;
        border-bottom: 2px solid #ddd;
        margin-bottom: 20px;
    }

    .tab {
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        color: #333;
        border-bottom: 2px solid transparent;
    }

        .tab.active {
            border-bottom: 2px solid #007bff;
            color: #007bff;
        }

    /* Filters */
    .filters {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
    }

    .filter-btn {
        background: #fff;
        border: 1px solid #ccc;
        padding: 8px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
    }

        .filter-btn:hover {
            background-color: #f1f1f1;
        }

    /* Cards */
    .dashboard {
        display: flex;
        gap: 20px;
    }

    .card {
        flex: 1;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

        .card h3 {
            margin: 0;
            font-size: 14px;
            color: #666;
        }

        .card h1 {
            margin: 10px 0 0;
            font-size: 28px;
            color: #333;
        }
</style>
<link href="~/dist/select2/css/select2.min.css" rel="stylesheet" />
<section id="header">
    <div class="container-main">
        <div class="text-left">
            <p class="ctitle"><span id="dynamicnotiheader"></span></p>
        </div>
        <div style="margin: 10px 0 5px 0; overflow:hidden;">
            <ul class="snav">
                <li id="" class=""><a href="/@Session["firmcode"]/NoticeNew/NewNoticeList"> Send Notices</a></li>
                <li id="" class="active"><a href="/@Session["firmcode"]/NoticeReceived/ReceivedNoticeList">Received Notices</a></li>
                <li id=""><a href="/@Session["firmcode"]/NoticeNew/NoticeReminder">Reminders</a></li>
            </ul>
        </div>
        <div class="text-center" style="margin-bottom: 20px !important;">
            <div style="display: flex; align-items: center;">
                <div class="tabs-and-filters" style="width:100%;">
                    <div class="button-group">
                        <button class="button-group-base1 active" onclick="fnclearinput()" style="border-left: none; border-top: none; border-bottom: none; font-weight:600;">All <span id="AllNoticeRCount"></span></button>
                        <a class="button-group-base2" href="/@Session["firmcode"]/NoticeReceived/ArchiveReceivedNoticeList">Archived <span id="ArchNoticeRCount"></span></a>
                        <a class="button-group-base1" href="/@Session["firmcode"]/NoticeReceived/ReceivedNoticeDeleteList">Delete <span id="DelNoticeRCount"></span></a>
                        @if (Session["sessionroleid"].ToString() != "1")
                        {
                            <a class="button-group-base1" href="/@Session["firmcode"]/NoticeReceived/ReceivedDraftNotice">Share with me <span id="ShareNoticeCount"></span></a>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="expense_total_card_wrapper">
        <div class="card" id="">
            <h5>Total Notice</h5>
            <span id="tonotice">0</span>
        </div>

        <div class="card" id="">
            <h5>Notice Settled</h5>
            <span id="setNotice">0</span>
        </div>

        <div class="card" id="">
            <h5>Converted Into Matter</h5>
            <span id="contomatNotice">0</span>
        </div>
    </div>
</section>
<section>
    <div class="card-header">
        <div class="content1" style="justify-content: space-between; padding:0;">
            <div id="prangediv" class="left_input" style="display: grid; gap: 10px; grid-template-columns: 150px 150px 120px 40px;">
                <input class="form-control inputFormat" id="rangefromdate" onkeypress="return false;" type="date" placeholder="From">
                <input class="form-control inputFormat" type="date" id="rangetodate" onkeypress="return false;" placeholder="To">
                <button class="btn btn-secondary" type="button" onclick="fnsearchbydate();" value="Go" style="padding: 8px 0;"><img src="/newassets/img/search-lg.png" style="width:18px;"> Search</button>
                <button class="btn btn-secondar" type="button" id="btclear" style="display: none; padding: 8px 0px;" onclick="fnclearinput();" value="Reset" title="Click here to reset search"><img src="/newassets/img/btn-close.png"></button>
            </div>
            <div class="table-header">
                <div class="actions3">
                    <button type="button" value="Send Multiple" class="button9" onclick="assignmodal()" title="Send Multiple"><img class="plus-icon" alt="" src="/newassets/img/share.svg" /></button>
                    <div class="menuexport" style="position:relative; cursor:pointer;">
                        <div class="dropdown-toggle button9" id="menuexport" type="button" data-toggle="dropdown" title="Export">
                            <img class="plus-icon" alt="" src="/newassets/img/upload-icon.png">
                        </div>
                        <ul class="dropdown-menu settingaction" role="menu" aria-labelledby="menuexport">
                            <li>
                                <div onclick="ExportToExcelNoticeReceived('NoticeReceived')" title="Export to excel"><span style="padding: 0 10px 0 0;"><img src="/newassets/img/exportexl-icon.png"></span>Export to Excel</div>
                            </li>
                        </ul>
                    </div>
                    <div id="ColumnSelectionopen" class="button13 dropup">
                        <a href="javascript:void()">
                            <img class="plus-icon" alt="" src="/newassets/img/settings-icon.png"> Customize
                        </a>
                    </div>
                    @if (parmsval == null)
                    {
                        if (role.ToString() == "1")
                        {
                            <button type="button" class="button4" onclick="AddNotice()" title="Add Details"><span><img src="/newassets/img/plus-icon.png"></span>Add Details</button>
                        }
                        else
                        {
                            if (Convert.ToInt32(ViewBag.IsCreate) == 1)
                            {
                                <button type="button" class="button4" onclick="AddNotice()" title="Add Details"><span><img src="/newassets/img/plus-icon.png"></span>Add Details</button>
                            }
                        }
                    }

                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="@Session["hsnotice"]" id="hdnNoticePack" />
    <input type="hidden" value="@Session["dashmatter"]" id="hdnLMPack" />
</section>

<section id="table">
    <div class="container-main">
        <div class="table">
            <div class="tablearea" style="margin:0;">
                <div class="scroll-sync-top" aria-hidden="true">
                    <div class="scroll-top-inner"></div>
                </div>
                <div class="tablecontainer table-scroll-wrapper">
                    <div class="table-scroll-inner">
                        <label id="NotExist" style="display:none"></label>
                        <table id="example" class="table-panel">
                            <thead>
                                <tr id="headrow1">
                                    <th style="min-width:50px;"><div class="thbg"><input type="checkbox" name="checkedAll" id="parentcheckboxid"></div></th>
                                    <th><div class="thbg">S.No</div></th>
                                    <th class="sendernames">
                                        <div class="thbg">
                                            <div style="float:left;width:80%">
                                                <input type="text" id="NoticeeendersNametxt" placeholder="receiver name" class="form-control pull-left" style="width:100px;">
                                            </div>
                                            <div style="float:left;width:20%">
                                                <span class="glyphicon glyphicon-search" id="searchNoticeSendname"></span>
                                                <span class="glyphicon glyphicon-remove" id="clearnewsearchSendname" title="Click here to reset search" style="display:none;"></span>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="rejoinderaddressedto" data-column="RejoinderAddressedto"><div class="thbg">Sender's Name</div></th>
                                    <th class="noticetitle">
                                        <div class="thbg">
                                            <div style="float:left;width:80%">
                                                <input type="text" id="Noticetitsrch" placeholder="title" class="form-control pull-left" style="width:100px;">
                                            </div>
                                            <div style="float:left;width:20%">
                                                <span class="glyphicon glyphicon-search" id="searchNoticetit"></span>
                                                <span class="glyphicon glyphicon-remove" id="clearnewsearchNoticetit" title="Click here to reset search" style="display:none;"></span>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="dateofcreatingrejoinder" data-column="DateofCreatingRejoinder"><div class="thbg">Date Of Notice</div></th>
                                    <th class="dateofserviceofnotice" data-column="DateofServiceofNotice"><div class="thbg">Date Of Receipt</div></th>
                                    <th class="DuedateOfNotice"><div class="thbg">Due Date</div></th>
                                    <th class="remark" data-column="CreateRejoinder"><div class="thbg">Text</div></th>
                                    <th class="pending" data-column="PendingStatus" style="min-width: 123px;">
                                        <div class="thbg">
                                            <select class="form-control form-control-sm" id="ddlnoticestatusss" name="ddlnoticestatusss" required=""></select>
                                        </div>
                                    </th>
                                    <th class="statutory">
                                        <div class="thbg">
                                            <select class="form-control form-control-sm" name="ddlnoticetypess" id="ddlnoticetypess">
                                                <option value="" selected>type </option>
                                                <option value="Statutory">statutory</option>
                                                <option value="Non-Statutory">non-statutory</option>
                                            </select>
                                        </div>
                                    </th>
                                    <th class="noticesubject">
                                        <div class="thbg">
                                            <div style="float:left;width:80%">
                                                <input type="text" id="NoticeSubjectsrh" placeholder="subject" class="form-control pull-left" style="width:100px;">
                                            </div>
                                            <div style="float:left;width:20%">
                                                <span class="glyphicon glyphicon-search" id="searchNoticeSub"></span>
                                                <span class="glyphicon glyphicon-remove" id="clearnewsearchNoticeSub" title="Click here to reset search" style="display:none;"></span>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="CreatedByName" data-column="CreatedByName"><div class="thbg">Created By</div></th>
                                    <th class="modeofreceipt" data-column="ModeofReceipt"><div class="thbg">Mode of Delivery</div></th>
                                    <th class="rejoinderthrough" data-column="RejoinderThrough"><div class="thbg">Notice Through/To</div></th>
                                    <th class="criticality"><div class="thbg">Priority</div></th>
                                    <th class="reasonforhighcriticality"><div class="thbg">Reason For High Priority</div></th>
                                    <th class="amountclaimed"><div class="thbg">Amount Claimed</div></th>
                                    <th class="addresseeaddress" data-column="AddresseeAddress"><div class="thbg">Sender's Address</div></th>
                                    <th class="otherdetailsofaddressee" data-column="OtherDetailsofAddressee"><div class="thbg">Other Details of Receiver</div></th>
                                    <th class="SendersAddress"><div class="thbg">Receiver's Address</div></th>
                                    <th class="otherdetailsofaddressofsender">
                                        <div class="thbg">
                                            <div style="float:left;width:80%">
                                                <input type="text" title="Other Details of Sender" id="othdetailsofsender" placeholder="other details of sender" class="form-control pull-left" style="width:100px;">
                                            </div>
                                            <div style="float:left;width:20%">
                                                <span class="glyphicon glyphicon-search" id="searchothdetl"></span>
                                                <span class="glyphicon glyphicon-remove" id="clearnewsearthdetl" title="Click here to reset search" style="display:none;"></span>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="tags"><div class="thbg">Tags</div></th>
                                    <th class="ReferenceNumber"><div class="thbg">Reference Number</div></th>
                                    <th class="InternalNumber"><div class="thbg">Internal Number</div></th>
                                    <th class="closdate"><div class="thbg">Close Date</div></th>
                                    <th class="attachment"><div class="thbg">Docs</div></th>

                                </tr>
                            </thead>
                            <tbody id="Rejoindertablevalue"></tbody>
                        </table>
                        <center> <div id="rejoindernonotice"> </div></center>
                    </div>
                </div>
                <div class="pagination" id="pagenatedArea">
                    <div class="pagination-button-group">
                        <div id="prev" class="pagination-button-group-base">
                            <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                            <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                        </div>
                        <div id="pageNumbers" class="pagination-button-group-base1">
                        </div>

                        <div id="next" class="pagination-button-group-base8">
                            <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                            <img style="float: right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />

                        </div>
                    </div>
                    <div class="text-and-supporting-text-parent">
                        <div class="input">
                            <div class="content">
                                <input type="text" id="txtgopage" name="query" placeholder="Page No.">
                            </div>
                            <div class="help-icon">
                            </div>
                        </div>
                        <div class="text-and-supporting-text-group">
                            <div class="text-and-supporting-text">
                                <div id="divGo" class="text9">Go</div>
                            </div>
                            <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="myModalCustomizedcolumn" class="modal right fade myModal " role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width:400px;height: 100vh; padding:2px 0;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modaltitle">
                    <h4><img src="~/newassets/img/customize-icon.png" /> Customise Field</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="margin:10px 0 0 0;">
                        <ul id="od1">
                            <li data-subject="Receiver Name"><input type="checkbox" class="shcheckbox1 chkdhide" name="sendernames" checked> Receiver Name</li>
                            <li data-subject="Senders Name"><input type="checkbox" class="shcheckbox1 chkdhide" name="rejoinderaddressedto" checked> Senders Name</li>
                            <li data-subject="Title"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticetitle" checked> Title</li>
                            <li data-subject="Date Of Notice"><input type="checkbox" class="shcheckbox1 chkdhide" name="dateofcreatingrejoinder" checked> Date Of Notice</li>
                            <li data-subject="Close Date"><input type="checkbox" class="shcheckbox1 chkdhide" name="closdate"> Close Date</li>
                            <li data-subject="Due Date"><input type="checkbox" class="shcheckbox1 chkdhide" name="DuedateOfNotice" checked> Due Date</li>
                            <li data-subject="Notice Text"><input type="checkbox" class="shcheckbox1 chkdhide" name="remark" checked> Notice Text</li>
                            <li data-subject="Notice Status"><input type="checkbox" class="shcheckbox1 chkdhide" name="pending" checked> Notice Status</li>
                            <li data-subject="Subject"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticesubject"> Subject</li>
                            <li data-subject="Type"><input type="checkbox" class="shcheckbox1 chkdhide" name="statutory"> Type</li>
                            <li data-subject="Mode Of Delivery"><input type="checkbox" class="shcheckbox1 chkdhide" name="modeofreceipt"> Mode of Delivery</li>
                            <li data-subject="Sender's Address"><input type="checkbox" class="shcheckbox1 chkdhide" name="addresseeaddress"> Sender's Address</li>
                            <li data-subject="Other Details Of Receiver"><input type="checkbox" class="shcheckbox1 chkdhide" name="otherdetailsofaddressee"> Other Details of Receiver</li>
                            <li data-subject="Notice Through"><input type="checkbox" class="shcheckbox1 chkdhide" name="rejoinderthrough"> Notice Through/To</li>
                            <li data-subject="Priority"><input type="checkbox" class="shcheckbox1 chkdhide" name="criticality"> Priority</li>
                            <li data-subject="Reason For High Priority"><input type="checkbox" class="shcheckbox1 chkdhide" name="reasonforhighcriticality"> Reason For High Priority</li>
                            <li data-subject="Amount Claimed"><input type="checkbox" class="shcheckbox1 chkdhide" name="amountclaimed"> Amount Claimed</li>
                            <li data-subject="Created By"><input type="checkbox" class="shcheckbox1 chkdhide" name="CreatedByName"> Created By</li>
                            <li data-subject="Receiver's Address"><input type="checkbox" class="shcheckbox1 chkdhide" name="SendersAddress"> Receiver's Address</li>
                            <li data-subject="Other Details Of Sender"><input type="checkbox" class="shcheckbox1 chkdhide" name="otherdetailsofaddressofsender"> Other Details of Sender</li>
                            <li data-subject="Tags"><input type="checkbox" class="shcheckbox1 chkdhide" name="tags"> Tags</li>
                            <li data-subject="Docs"><input type="checkbox" class="shcheckbox1 chkdhide" name="attachment" checked> Docs</li>
                            <li data-subject="Reference Number"><input type="checkbox" class="shcheckbox1 chkdhide" name="ReferenceNumber"> Reference Number</li>
                            <li data-subject="Internal Number"><input type="checkbox" class="shcheckbox1 chkdhide" name="InternalNumber"> Internal Number</li>
                            <li data-subject="Date of receipt"><input type="checkbox" class="shcheckbox1 chkdhide" name="dateofserviceofnotice" checked> Date of Receipt</li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="myModallinkcase" class="modal fade myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header btn-success">
                <button type="button" class="close" id="closelinkmatter" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <img src="/newassets/img/linkmatter-icon.png" style="margin:-15px 0px 0 -15px">
                </h4>
            </div>
            <div class="modaltitle" style="border-bottom: none; margin: -45px 0 0 0;">
                <h4>Link to Matter</h4>
            </div>

            <div class="modal-body">
                <div class="myModallinkcase1" id="myModallinkcase1" style="margin-top:10px;">
                    <div class="row">
                        <div class="col-md-6">
                            <input id="selectlinktypenew" value="newmatter" name="selectlinktype" style="cursor:pointer !important" type="radio" />
                            <label class="col-md-12" for="selectlinktypenew" style="margin-top: -15px;margin-left: 7px;">New Matter</label>
                        </div>
                        <div class="col-md-6">
                            <input id="selectlinktype" value="linkmatter" name="selectlinktype" style="cursor:pointer !important" type="radio" />
                            <label for="selectlinktype">Existing Matter</label>
                        </div>

                    </div>
                    <div class="row" id="dvlinktocase" style="display: none; margin: 10px 0;">
                        <div class="col-md-8">
                            <input id="livecaseidhide" class="form-control inputFormat" type="hidden" />
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="mattersforlink2" class="form-control inputFormat" placeholder="Enter Matter Name" />
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary" id="savelinkmatter">Confirm</button>
                        </div>
                    </div>
                    <div class="row" id="dvcreatecase" style="display: none; margin: 10px 0;">
                        <div class="col-md-12">
                            <button class="btn btn-primary" id="CreateNoticetoMatter">New Matter</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModalNotificationsetting" class="modal fade in" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <div class="modal-header btn-success">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="col-md-4">
                        <h4 class="modal-title">
                            <span id="fstitle">Set Alert</span>
                        </h4>
                    </div>
                    <div class="col-md-8 text-right">
                        <div id="userTitle" style="color: #4d525c; font-size: 15px;">fgfg</div>
                    </div>
                </div>

            </div>
            <div class="modal-body" style="height: 380px;overflow-y: auto;overflow-x: hidden; padding:10px;">
                <div class="row">
                    <div class="col-md-12">
                        <form id="fileupload" name="fileupload">
                            <fieldset class="" style="border:none;">
                                <div class="row" style="display:none;">
                                    <div class="col-md-12">
                                        <label>Notice<span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                        <select class="selctInputFormat" id="ddlnoticelist" onchange="Getdateforalertbynoticeid()"></select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Custom Date</label><span style="color:red">*</span><br />
                                        <input type="date" class="inputFormat setValue" id="txtdateofnotice_0" onchange="ResetField();" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Alert Condition</label><span style="color:red">*</span>
                                        <select class="dropdown-toggle inputFormat setValue" onchange="ResetByAlert()" id="txtalertcondition_0" style="background:white;">
                                            <option value="beforeduedate">Before</option>
                                            <option value="afterreceivedate">After</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Set Days</label><span style="color:red">*</span>
                                        <select class="dropdown-toggle inputFormat setValue" id="alertbeforeincaseallddl1_0" onchange='fndisplayreminder()' style="background:white;">
                                            <option value="">Please select days</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Reminder Date</label><br />
                                        <div id="multiplereminderdiv_0" class="inputFormat setValue" style="background:#fff; overflow:hidden;height:35px !important;"></div>
                                    </div>
                                    <div class="col-md-8">
                                        <label>Remarks</label>
                                        <textarea id="txtRemark_0" class="inputFormat setValue" style="width: 100%; height: 35px !important; border-radius:7px;"></textarea>
                                    </div>

                                </div>
                            </fieldset>
                            <div id="dvadd_noticeSetdetils"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                <button type="button" class="btn btn-primary" id="savenotificationsettings" data-type="">Save</button>
                <button type="button" class="btn btn-secondary" id="btn_SetAlertDetails" title="add more alerts"><img src="/newassets/img/plus-icon-black.png"> Add More Alerts</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ActualclosurModal" data-backdrop="static" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog" style="width:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">
                    <img src="/newassets/img/icon1.png" style="margin:-15px 0px 0 -15px">
                </h4>
            </div>
            <div class="modaltitle" style="border-bottom: none; margin: -45px 0 0 0;">
                <h4>Mark Status Of Notice</h4>
            </div>
            <div class="modal-body">
                <form id="markstatusreset" enctype="multipart/form-data" novalidate="novalidate">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Status Date</label>
                            <input type="date" class="form-control inputFormat" id="dateofclosure" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Notice Status</label><span>*</span>
                            <select id="ddlnoticestatus" class="form-control selctInputFormat">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12 text-right">
                            <button type="button" id="saveclosuedate" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewMoreModal">
    <div class="modal-dialog">
        <div class="modal-content viewmore">
            <div class="modal-header" style="background-color:#fff !important">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" style="height:350px;overflow-y: scroll;">
                <span id="viewmorecontent"></span>
            </div>
        </div>
    </div>
</div>
<div id="myDocumentModal" class="modal fade myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">
        </div>
    </div>
</div>
<div class="modal fade" id="ViewLogModal">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Notice Logs</h3>
            </div>
            <div class="modal-body">
                <table class="table-panel">
                    <thead>
                        <tr>
                            <th><div class="thbg">Sender Name</div></th>
                            <th><div class="thbg">Receiver Name</div></th>
                            <th><div class="thbg">Notice Shared On</div></th>
                            <th><div class="thbg">User Type</div></th>
                            <th><div class="thbg">Feedback</div></th>
                        </tr>
                    </thead>
                    <tbody id="modlbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AssignModal">
    <div class="modal-dialog" style="width:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">
                    <img src="/newassets/img/share.png" style="margin:-15px 0px 0 -15px">
                </h4>
            </div>
            <div class="modaltitle" style="border-bottom: none; margin: -45px 0 0 0;">
                <h4 id="fstitle1">Share Notice</h4>
            </div>
            <div class="modal-body" style="padding:15px 0 0 0; overflow:hidden;">
                <div class="form-group">
                    <div>
                        <input type="radio" name="assignee" value="manager" class="assignto" />
                        <label>Team Member</label>&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="assignee" value="client" class="assignto" />
                        <label>client</label>
                    </div>
                    <div style="margin:10px 0;">
                        <select id="bindusr" class="selctInputFormat"></select>
                    </div>
                    <div style="margin:10px 0;">
                        <button type="button" id="assignnoticebtn" class="btn btn-primary  pull-right" value="Send">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="NoticeDraftModal" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog" style="width:75%">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Notice <b>:</b> <input id="lbltitle" class="titleStyle" style="border: none " name="TitleName" disabled value="" /> </h3>
            </div>
            <div class="modal-body">
                <div style="margin: 10px 0 20px 0; overflow:hidden;">
                    <ul class="snav" id="Prime" style="display:None">
                        <li id="listVersionData" class="active">Documents</li>
                        <li id="SentRecordList" style="">Shared Notice</li>

                    </ul>
                    <ul class="snav" id="Second" style="display:None">
                        <li id="listVersionData">Documents</li>
                        <li id="SentRecordList" class="active">Shared Notice</li>

                    </ul>
                </div>
                <div id="primeSectionData" style="display:none;">
                    <div class="row">
                        <div class="col-sm-5" style="padding-bottom:10px;margin:0px">
                            <select class="selctInputFormat" id="receiverEmailidd"></select>
                        </div>
                        <div class="col-sm-5" style="display:None;padding-bottom:10px;margin:0px" id="receiverEmailidddiv">
                            <input type="text" value="" placeholder="Enter email" style="" autocomplete="off" id="receiverEmailiddother" name="receiverEmailiddother" class="inputFormat">
                        </div>
                        <div class="col-sm-2">
                            <div class="" style="border-radius: 8px; background-color: #fff; border: 1px solid #d5d7da; overflow: hidden; display: flex; flex-direction: row; align-items: center; justify-content: center; padding: 6px; gap: 4px; cursor: pointer; width: 50%;" id="sendmailbtn">
                                <div class="text-padding">
                                    <div class="text"><img src="/newassets/img/mail-02.png" title="Set Aleart"></div><span>Send</span>
                                </div>
                            </div>
                            @*<button type="button" id="sendmailbtn" class="btn btn-primary" value="Save">Send</button>*@
                        </div>
                        <span style="color:red;display:none" id="spanEmailId">Alert! please enter valid email address.</span>
                    </div>
                    <div class="row" style="height:40vh;overflow-y:scroll;">
                        <div class="col-md-12">
                            <div class="ec_bg">
                                <table class="table-panel">
                                    <thead>
                                        <tr>
                                            <th><div class="thbg">Select Version</div></th>
                                            <th><div class="thbg">Created Date</div></th>
                                            <th><div class="thbg">Version</div></th>
                                            <th><div class="thbg">Created By</div></th>
                                            <th><div class="thbg">Action</div></th>
                                        </tr>
                                    </thead>
                                    <tbody id="draftnoticemodlbody"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="height:40vh;overflow-y:scroll; display:none" id="SecondDataSection">
                    <div class="col-md-12">
                        <h4 style="text-align:center">Share Notice on Email</h4>

                        <div class="ec_bg">
                            <div>
                                <table class="table-panel">
                                    <thead>
                                        <tr>
                                            <th><div class="thbg">File</div></th>
                                            <th><div class="thbg">Sender</div></th>
                                            <th><div class="thbg">Receiver</div></th>
                                            <th><div class="thbg">Status</div></th>
                                            <th><div class="thbg">Sent Date</div></th>
                                        </tr>
                                    </thead>
                                    <tbody id="noticemailaudit"></tbody>
                                </table>
                                <center> <div id="nonoticemailaudit"> </div></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewMultiplePostdetils" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">View Notice Post Details</h3>
            </div>
            <div class="modal-body">
                <div class="inputbg" style="min-height:120px;">
                    <div class="col-md-6" style="margin-top:20px;">
                        <span style="color:red">*</span><label>Consignment No</label>
                        <select class="selctInputFormat" id="Trackingnumberlist" style="background-color: #ebebeb !important;"></select>
                    </div>
                    <div class="col-md-6" style="margin-top:40px;">
                        <button type="button" id="btnsearchconsignment" class="sbtbtn">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="noticePostModal">
    <div class="modal-dialog" style="width:60%;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal" onclick="hidePostModal()">&times;</a>
                <h4 class="modal-title">
                    <img src="/newassets/img/save.png" style="margin:-15px 0px 0 -15px">
                </h4>
            </div>
            <div class="modaltitle" style="border-bottom: none; margin: -45px 0 0 0;">
                <h4>Save Dispatch Details</h4>
            </div>
            <div class="modal-body">
                <form id="postdetailslayout">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Delivery Modes<span class="required " aria-required="true"><b> *</b> </span></label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group col-md-12">
                                <label>Modes</label>
                                <select class="selctInputFormat" id="Modesofdeleverypost" multiple name="languageSelect[]" style="background-color: #ebebeb !important;">
                                    <option value="Courier">Courier</option>
                                    <option value="Email">Email</option>
                                    <option value="ByHand">By Hand</option>
                                    <option value="WhatsApp">WhatsApp</option>
                                    <option value="Post"> Speed Post/Registered Post</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <input type="hidden" value="" id="rowcounterdata" />
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Dispatch Details<span><b>*</b></span></label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group col-md-6">
                                <label>Date of Dispatch<span><b>*</b></span></label>
                                <input type="date" class="form-control inputFormat" title="Please ensure that the date entered should be the date on which the notice is couriered" id="noticeSendDate" name="noticeSendDate" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Date of Delivery</label>
                                <input type="date" class="form-control inputFormat" id="dateofdelivered" name="dateofdelivered" />
                            </div>
                            <div class="form-group col-md-12">
                                <label>Consignment No.</label>
                                <input type="hidden" class="trackingidss" id="trackingId" value="" />
                                <input type="text" class="form-control consignmentno inputFormat" id="consignmentnum" name="consignmentnum" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="display:none">
                        <div class="form-group col-md-4">
                            <button type="button" id="btn_addpostaldetails" class="sbtbtn pull-right valid" value="Save"><span class="glyphicon glyphicon-plus-sign" style="cursor: pointer;" title="Add New"></span>Add</button>
                        </div>
                    </div>

                    <div id="dvadd_noticepostdetils"></div>

                    <br />
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Dispatch Details</label>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-12">
                                <p class="notecls">
                                    1.It normally takes 4 days or more for the item to be delivered/updated on Speed Post website. We suggest you check tracking result after 7 days.<br />
                                    2.Speed Post Tracking Services provided herein is as per the information available and updated by Department of Posts,
                                    Ministry of Communications, Government of India. We are nowhere responsible, or are giving representation or warranty as to completeness and correctness of the information. Subscribers are requested to verify the information before acting upon the same. <br />
                                    3.The information is being updated on case to case basis by the concerned authorities. The company is not responsible
                                    for non-updation or non-availability of information related to any consignment or shipment sent through speed post.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="button" id="btnsavepostDetail" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*<div id="myModalmarkArchiveconfirmation" class="modal fade in" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog" style="width:350px;">
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">
                    <img src="/newassets/img/icon1.png" style="margin:-15px 0px 0 -15px">
                </h4>
            </div>
            <div class="modaltitle" style="margin: -33px 0 0 0; border-bottom: none;">
                <h4 id="ids_archivematterrequesr">Archive Notice </h4>
            </div>
            <div class="modal-body" style="padding:3px 0;">
                <p><strong id="id_Archivematternames"></strong> notice title has been moved to archive list?</p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-5">
                        <button class="btn btn-secondary" style="width:100%" id="" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <button type="submit" class="btn btn-primary" style="width:100%" id="archivesingle_final">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div id="myModalmarkArchiveconfirmation" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <img src="~/newassets/img/icon1.png" style="margin:-15px 0px 0 -15px" />
                </h4>
            </div>
            <div class="modaltitle" style="margin: -33px 0 0 0; border-bottom: none;">
                <h4 id="ids_archivematterrequesr">Archive Notice </h4>
            </div>
            <div class="modal-body">
                <p><strong id="id_Archivematternames"></strong> notice title has been moved to archive list?</p>
            </div>
            <div class="footer_buttons modal-footer" style="margin-top:18px; border-top:0 !important;">
                <button class="btn btn-secondary" id="" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="archivesingle_final">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalDeleteconfirmation" class="modal fade in" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog" style="width:350px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">
                    <img src="/newassets/img/icon1.png" style="margin:-15px 0px 0 -15px">
                </h4>
            </div>
            <div class="modaltitle" style="margin: -33px 0 0 0; border-bottom: none;">
                <h4 id="ids_archivematterrequesr">Delete Notice </h4>
            </div>
            <div class="modal-body" style="padding:10px 0;">
                <p><strong id="id_Deletematternames"></strong></p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-5">
                        <button class="btn btn-secondary" style="width:100%" id="" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <button type="submit" class="btn btn-primary" style="width:100%" id="Delete_final">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/dist/multipleSelect/jquery.multiselect.js"></script>
<link href="~/dist/multipleSelect/jquery.multiselect.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $("#mattersforlink2").autocomplete({
            disabled: true
        });
    });
    $('#mattersforlink2').on('keyup', function () {
        var txtlength = $("#mattersforlink2").val().length;
        if (txtlength > 0) {
        }
        else {
            $("#livecaseidhide,#mattersforlink2").val("");
        }
    });
    $(function () {
        $("#mattersforlink2").typeahead({
            hint: true,
            highlight: true,
            minLength: 3,
            source: function (request, response) {
                request = request.replace(/"/g, "").replace(/\\/g, "");
                $.ajax({
                    async: true,
                    url: '/Firm/MatterFilterAutoCompleteForNotice',
                    data: "{ 'prefix': '" + request + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        items = [];
                        map = {};
                        $.each(data, function (i, item) {
                            var id = item.val;
                            var name = item.label;
                            map[name] = { id: id, name: name };
                            items.push(name);
                        });
                        response(items);
                        $(".dropdown-menu").css("height", "auto");
                        $(".typeahead li").removeClass("active");
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            updater: function (item) {
                $("#livecaseidhide").val(map[item].id);
                return map[item].name;
            }
        });
    });
</script>
@*<script>
        jQuery('#Modesofdeleverypost').multiselect({
            columns: 1,
            search: true,
            selectAll: true
        });
    </script>*@
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const topScroll = document.querySelector('.scroll-sync-top');
        const topScrollInner = document.querySelector('.scroll-top-inner');
        const tableScroll = document.querySelector('.table-scroll-wrapper');

        function updateScrollBarVisibility() {
            const isScrollNeeded = tableScroll.scrollWidth > tableScroll.clientWidth;
            if (isScrollNeeded) {
                topScroll.style.display = 'block';
                topScrollInner.style.width = tableScroll.scrollWidth + 'px';
            } else {
                topScroll.style.display = 'none';
                topScrollInner.style.width = '0px';
            }
        }

        // Sync scroll positions
        topScroll.addEventListener('scroll', () => {
            tableScroll.scrollLeft = topScroll.scrollLeft;
        });

        tableScroll.addEventListener('scroll', () => {
            topScroll.scrollLeft = tableScroll.scrollLeft;
        });

        // Automatically observe table width changes
        const resizeObserver = new ResizeObserver(() => {
            updateScrollBarVisibility();
        });

        // Watch inner table container
        resizeObserver.observe(tableScroll);

        // Initial check
        updateScrollBarVisibility();
    });
</script>


