<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>@ViewBag.Title - Law Practice</title>


    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

    @Styles.Render("~/bundles/jQueryBootStrapCss")

    @Styles.Render("~/bundles/Datacss");

    @Styles.Render("~/bundles/FirmCss");


    @Scripts.Render("~/bundles/jQueryBootStrap")


    @Scripts.Render("~/bundles/plugin")

    @Scripts.Render("~/bundles/Datajs");

    @Scripts.Render("~/bundles/Utility");
    <script src="~/Scripts/Firm/Pages/FirmMain.js"></script>
    <script src="~/Scripts/Firm/Pages/Index.js"></script>
    <script>
        $(document).ready(function () {
            var index = new Index();
        });
</script>
</head>
<body>
    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-12">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="@Url.Action("Index", "Employee")" id="aFirmLabel"></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                Add New
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" id="ulAddNew"></ul>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                Matters
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" id="ulMatters"></ul>
                                        </div>
                                    </li>
                                    <li class="" id="liManage" style="display:none;">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                Manage
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" id="ulManage"></ul>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                Profile
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" id="ulProfile">
                                                <li class="">@Html.ActionLink("Profile", "UserProfile", "Account")</li>
                                                <li class="">@Html.ActionLink("ChangePassword", "ChangePassword", "Account")</li>
                                                <li class="">@Html.ActionLink("LogOut", "LogOut", "Account")</li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <div class="body-content" style="">
        @RenderBody()
    </div>
    <div class="">
        <!-- ***** Footer Area Start ***** -->
        
        <footer class="text-center clearfix">
            <nav class="navbar fixed-bottom" style="background: #0b162a; padding-left:40%;">
                <a class="navbar-brand" href="javascript:void(0);"><small class="block">&copy; 2018 <span id="sFirmName"></span> All Rights Reserved. </small></a>
            </nav>
        </footer>
        <!-- ***** Footer Area Start ***** -->
    </div>
    @Scripts.Render("~/bundles/Common")

    @RenderSection("scripts", required: false)
</body>
</html>
