@{
    ViewBag.Title = "Login";
    Layout = null;
}
@using DataAccess.Modals;
@using QueryStringEDAES;
@using System;
@{
    var referecncetime = QueryAES.DecryptAes(QueryAES.FromBase64StringWithReplace(ViewBag.reft));
    DateTime myDate1 = Convert.ToDateTime(referecncetime);
    DateTime myDate2 = DateTime.Now;
    TimeSpan difference = (myDate2 - myDate1);
    double totalminutes = difference.TotalMinutes;
    var firmids = QueryAES.DecryptAes(QueryAES.FromBase64StringWithReplace(ViewBag.token));
    var userids = QueryAES.DecryptAes(QueryAES.FromBase64StringWithReplace(ViewBag.reftid));
    var db = new LawPracticeEntities();
    string username = (String)userids;
    var data = db.sp_GetLastChangePasswordDetail("", username).FirstOrDefault();
    bool IsValid = true;
    if (data != null)
    {
        var lastlogin = data.date_time;
        DateTime NewmyDate1 = Convert.ToDateTime(referecncetime);
        TimeSpan ts = Convert.ToDateTime(myDate2) - Convert.ToDateTime(myDate1);
        var margindatediff = ts.TotalMinutes;
        if (margindatediff <= 20)
        {
            if (lastlogin < NewmyDate1)
            {
                IsValid = true;
            }
            else
            {
                IsValid = false;
            }
            //IsValid = true;
        }
        else
        {
            IsValid = false;
        }
    }
}
@Scripts.Render("~/bundles/jQueryBootStrap")
@Scripts.Render("~/bundles/Utility")
<script>
    var Url = '@ViewBag.Url';
</script>
<script src="~/assets/js/jquery-2.1.3.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/Scripts/Firm/Pages/CreateNewPassword.js?1.4"></script>
<script>
    var token = "@ViewBag.token";
    var reft = "@ViewBag.reft";
    var reftid = "@ViewBag.reftid";
</script>
<script type="text/javascript">
    /*code: 48-57 Numbers
      8  - Backspace,
      35 - home key, 36 - End key
      37-40: Arrow keys, 46 - Delete key*/
    function restrictAlphabets(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manupatra - Mykase</title>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="white">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-status-bar-style" content="default">
    <meta name="mobile-web-app-title" content="Mykase">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Mykase">
    <!-- css -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/ionicons.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/NewDesign/css/home.css">
    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Condensed:300italic,400italic,700italic,400,300,700|Oxygen:400,300,700' rel='stylesheet'>
</head>
<body>
    @if (totalminutes > 1440 || IsValid == false)
    {
        <br><br><br><br><br><br><br><b><center><p style="margin:0;top:50%;left:50%;">Your password reset link has been expired. </p></center></b>
    }
    else
    {
        <section>
            <div class="container">
                <div class="row">
                    <div class="auth_section">
                        <div style="width:100%; text-align:center; border-bottom:1px solid #8fd500; padding:0 0 10px 0;"><img src="/NewDesign/images/logo.png" alt="MyKase" /></div>
                        <div class="auth_form">
                            <h3>Reset Password</h3>
                            <form class="formcontainer" role="form" method="post">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td>
                                            <input class="input100 form-control" type="password" name="password" placeholder="Enter new password" id="password">
                                            <div style="float:right;position:relative;top:-25px;">
                                                <span id="hideeye" toggle="#password" class="fa fa-fw fa-eye-slash field-icon toggle-password1" style="color:#676767;position:relative;z-index:1000;">  </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" height="15px"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input class="input100 form-control" type="password" name="cpassword" placeholder="Enter new confirm password" id="cpassword">
                                            <div style="float:right;position:relative;top:-25px;">
                                                <span id="hideeye" toggle="#cpassword" class="fa fa-fw fa-eye-slash field-icon toggle-password1" style="color:#676767;position:relative;z-index:1000;">  </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <br>
                                            <input class="form-control sbtbtn" id="changepassword" type="button" value="Save">
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    <div class="clearfix"></div>
    <!-- All the scripts -->
</body>
</html>
