@{
    Layout = null;
}
<i class="pp-icon-user"></i>
<!-- Page Content -->
@{
    var fid = @ViewBag.data;
    var title = @ViewBag.title;
}
<script>
    var stitle="@title";
    if (stitle == "earliercourt") {
        $("#docstitle").html("Earlier Court Details");
    }
    if (stitle == "notices") {
        $("#docstitle").html("Notices");
    }
    if (stitle == "officereports") {
        $("#docstitle").html("Office Reports");
    }
    if (stitle == "caveat") {
        $("#docstitle").html("Caveat");
    }
    var formdata = new FormData();
    formdata.append("title", "@title");
    formdata.append("caseId", "@fid");
    formdata.append("search", "");
    $.ajax({
        async: true,
        url: '/firm/Casewatchotherdocstype',
        data: formdata,
        processData: false,
        contentType: false,
        type: 'POST',
        success: function (response1) {
            $("#contentdata").html(response1)
        },
        failure: function (data) {
            alert(data.responseText);
        },
        error: function (data) {
            alert(data.responseText);
        }
    });
</script>
<style>
    table th, td {
        font-size: 12px !important;
    }

    th {
        background: DIMGRAY !important;
    }

    td {
        background: white !important;
    }
</style>
<div class="modal-header btn-primary">
    <button type="button" class="close" id="closemodel" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">
        <span id="docstitle"></span>
    </h4>
</div>
<div class="modal-body " style="height:500px;">
    <aside class="">
        <section>
            <div id="contentdata" style="height:450px; overflow-x:auto">
            </div>
        </section>
    </aside>
</div>
