@{
    ViewBag.Title = "CreateUser";
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
@using System.Web.Configuration
@using LawPracticeFirm.Helpers
<i class="pp-icon-user"></i>
<script>
    var filesize =@ViewBag.filesize;
    var directoryid = "@ViewBag.directoryid";
        var totpagesize=@ViewBag.pagesize;
    var roleid = "@role";
</script>
<script type='text/javascript'>
    if (typeof enctypesingle !== 'undefined' && $.isFunction(enctypesingle)) {
        alert("exuisdt");
    }
    else {
        location.reload();
        return false;
    }
    if (String(directoryid) != "") {
        localStorage.setItem("contacttoken", directoryid);
    }
    if (String(directoryid) == "") {
        var urls = window.location.href;
        url_redirect({
            url: urls,
            method: "post",
            data: { "token": localStorage.getItem("contacttoken"), "tflg": "0" }
        });
    }
    function goodbye(e) {
        localStorage.setItem("contacttoken", directoryid);
        if (!e) e = window.event;
        //e.cancelBubble is supported by IE - this will kill the bubbling process.
        e.cancelBubble = true;
        //  e.returnValue = 'You sure you want to leave?'; //This is displayed on the dialog
        //e.stopPropagation works in Firefox.
        if (e.stopPropagation) {
            e.stopPropagation();
            e.preventDefault();
        }
    }
    window.onbeforeunload = goodbye;
</script>
<link href="~/panelDesign/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="~/panelDesign/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    output {
        text-align: left;
    }

    .upload {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
    }

        .upload + label {
            width: 200px;
            height: 40px;
            font-size: 1em;
            font-weight: 500;
            color: black;
            line-height: 2.6em;
            text-transform: uppercase;
            text-align: center;
            background-color: #ccc;
            display: inline-block;
            border-radius: 10px;
            box-shadow: 0px 3px 0px #ccc;
            transition: 150ms;
        }

            .upload:focus + label,
            .upload + label:hover {
                background-color: #ccc;
                box-shadow: 0px 5px 0px #ccc;
                cursor: pointer;
            }

        .upload:focus + label {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;
        }
</style>
<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

    #searchdata {
        border-box: box-sizing;
        background-image: url('searchicon.png');
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    #myInput:focus {
        outline: 3px solid #ddd;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
</style>
<style>
    #frameWrap {
        position: relative;
        height: 490px;
        width: 100%;
        border: 1px solid #777777;
        background: #f0f0f0;
        box-shadow: 0px 0px 10px #777777;
    }

    #docframe {
        height: 490px;
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
    }

    #loader12 {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }
</style>
<style>
    #frameWrap1 {
        position: relative;
        height: 490px;
        width: 100%;
        border: 1px solid #777777;
        background: #f0f0f0;
        box-shadow: 0px 0px 10px #777777;
    }

    #otherdocframe {
        height: 490px;
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
    }

    #loader121 {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }
</style>
<script>
    $(document).ready(function () {
        $(".modal").on("hidden.bs.modal", function () {
            $("#list").text("");
            $(this).find('form').trigger('reset');
        });
        $(document).on("click", "#resercreatefiles", function () {
            $("#list").text("");
            $(".modal").find('form').trigger('reset');
        });
        //Do stuff here
    });
    function goForward() {
        window.history.forward();
    }
    function goBack() {
        window.history.back();
    }
</script>
<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
</script>
<aside class="right-side">
    <section class="content-header">
        <!-- Content Header (Page header) -->
        <ol class="breadcrumb">
            @if (role.ToString() == "1")
            {
                <li><a href="/@Session["firmcode"]/firm/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            }
            else if (role.ToString() == "2")
            {
                <li><a href="/@Session["firmcode"]/employee/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            }
            else
            {
                <li><a href="/@Session["firmcode"]/client/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            }
            <li class="active">Folders/Files List</li>
        </ol>
        <h1><span class="glyphicon glyphicon-folder-open"></span>  &nbsp;&nbsp;Folders/Files List</h1>
        <ol class="breadcrumb">
            <li class="active" style="cusror:pointer;float"><a id="transferpage12" href="javascript:void()" data-val="0"><span class="glyphicon glyphicon-folder-open"></span> </a> </li>
            @if (ViewBag.DIRECTORYLINK != null)
            {
                foreach (var item in ViewBag.DIRECTORYLINK)
                {
                    <li class="active noactive" style="cusror:pointer;"><a id="transferpage" href="javascript:void()" data-val="@item.ID">@item.Name</a> </li>
                }
            }
        </ol>
    </section>
    <section class="content">
        <div id="page-wrapper">
            <div class="container-fluid showcontent" id="showcontent">
                <div class="box">
                    <div class="box-header" style="padding:5px;">
                        <ul class="btn_panel no-margin pull-right" style="padding:0;" id="sectiontemp">
                            @if (role.ToString() == "1")
                            {
                                <li>
                                    <select id="dusers" name="dusers" class="form-control">
                                        <option value="">Select Users</option>
                                    </select>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-danger " id="removerequest" title="File Delete Request">File Delete Request</button>
                                </li>
                            }

                            <li>
                                <button type="button" class="btn btn-warning " id="filesyncpermission" title="File Sync Permission"> <span class="glyphicon glyphicon-Arrow repeat"> </span>Sync</button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-danger " id="fileremoverequest" title="Remove File"> <span class="glyphicon glyphicon-trash repeat"> </span>&nbsp;</button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-info " id="move" title="Move Files"> <span class="glyphicon glyphicon-share"> </span>Move</button>
                            </li>
                            <li>
                                <btn class="btn btn-primary " style="margin-top:0px;" data-toggle="modal" id="myModal12" title="Create Folder"><span class="glyphicon glyphicon-plus"></span> Create</btn>
                            </li>
                            <li>
                                <button type="button" class="btn btn-info  " data-toggle="modal" data-target="#myModal1" id="delete"> <span class="glyphicon glyphicon-cloud"> </span> Upload File</button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-info  " data-toggle="modal" data-target="#myModal3" id="" title="Create Online Document"> <span class="glyphicon glyphicon-plus"> </span> Create Document</button>
                            </li>
                            <li><input type="textbox" class="form-control2" placeholder="Search Data" id="searchdata" style="width:110px;" /></li>
                            <li><button type="button" class="form-control2" id="searchdatas">Search</button></li>
                        </ul>
                        <div class="pull-right">
                            <select class="form-control pull-left viewc" name="state" tempname="user" id="contype" style="width:150px !important; display:none">
                                <option value="" selected>Select Type</option>
                                <option value="Contact">User</option>
                            </select>&nbsp;&nbsp;
                            <select class="form-control pull-right viewc" name="state" tempname="user" id="matter" style="width:150px !important; display:none">
                                <option value="" selected>Select Matter</option>
                            </select>&nbsp;&nbsp;
                        </div>
                    </div>
                    <script type="text/javascript">
                        var tableToExcel = (function () {
                            var uri = 'data:application/vnd.ms-excel;base64,'
                                , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="https://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                                , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                                , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
                            return function (table, name) {
                                if (!table.nodeType) table = document.getElementById(table)
                                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                                var blob = new Blob([format(template, ctx)]);
                                var blobURL = window.URL.createObjectURL(blob);
                                if (ifIE()) {
                                    csvData = table.innerHTML;
                                    if (window.navigator.msSaveBlob) {
                                        var blob = new Blob([format(template, ctx)], {
                                            type: "text/html"
                                        });
                                        navigator.msSaveBlob(blob, '' + name + '.xls');
                                    }
                                }
                                else
                                    window.location.href = uri + base64(format(template, ctx))
                            }
                        })()
                        function ifIE() {
                            var isIE11 = navigator.userAgent.indexOf(".NET CLR") > -1;
                            var isIE11orLess = isIE11 || navigator.appVersion.indexOf("MSIE") != -1;
                            return isIE11orLess;
                        }
                    </script>
                    </ul>
                </div>
            </div><!-- /.box-header -->
            <!-- /.panel-heading -->
            <script>
                    var userid = '@ViewBag.userId'
                    var firmid = '@ViewBag.firmid';
                    var directoryname = '@ViewBag.directoryname';
                    var directoryid = '@ViewBag.directoryid';
                    var directorypath = '@ViewBag.directorypath';
            </script>
            <script src="~/Scripts/Firm/Pages/DirectoryList.js" type="text/javascript"></script>
            <script src="~/CssJsfiles/js/3.3.1/jquery.min.js"></script>
            <script src="~/CssJsfiles/js/jquery.dataTables.min.js"></script>
            <script type="text/javascript">
                var tableToExcel = (function () {
                    var uri = 'data:application/vnd.ms-excel;base64,'
                        , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="https://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                        , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                        , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
                    return function (table, name) {
                        if (!table.nodeType) table = document.getElementById(table)
                        var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                        window.location.href = uri + base64(format(template, ctx))
                    }
                })()
            </script>
            <script>
                $(document).ready(function () {
                    $("#searchdata2").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#example tbody tr").filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                });
            </script>
            <script src="~/CssJsfiles/js/1.8.3/jquery.min.js"></script>
            <script src="~/CssJsfiles/js/pdfmake.min.js"></script>
            <script src="~/CssJsfiles/js/html2canvas.min.js"></script>
            <script type="text/javascript">
                $("body").on("click", "#btnExport", function () {
                    html2canvas($('#example')[0], {
                        onrendered: function (canvas) {
                            var data = canvas.toDataURL();
                            var docDefinition = {
                                content: [{
                                    image: data,
                                    width: 500
                                }]
                            };
                            pdfMake.createPdf(docDefinition).download("Table.pdf");
                        }
                    });
                });
            </script>
            <div style="overflow-x:auto">
                <table id="example" class="dataTable table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:4%"><input type="checkbox" id="select_all" /></th>
                            <th onclick="sortTable(1)">Folders/Files Name <span class="fa fa-sort pull-right"></span></th>
                            <th onclick="sortTable(2)" width="100px;">Date <span class="fa fa-sort pull-right"></span></th>
                            <th width="100px;">Action</th>
                            <th onclick="sortTable(4)" width="100px;">FileType <span class="fa fa-sort pull-right"></span></th>
                            <th width="100px;">Permission</th>
                            <th onclick="sortTable(6)" width="">Created By <span class="fa fa-sort pull-right"></span></th>
                            <th onclick="sortTable(7)" width="">File Description <span class="fa fa-sort pull-right"></span></th>
                        </tr>
                    </thead>
                    <tbody id="dirbound"></tbody>
                </table>
            </div>
            <div id="tfooter">
            </div>
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right"></ul>
            </div>
            </div>
         </section>
</aside>
<script>
    $(document).ready(function () {
        $('#dropboxframe').on('load', function () {
            $('#loader122').hide();
        });
    });
</script>
<div id="myModaldropbox" class="modal fade" role="dialog" style="z-index:2000;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " style="width:440px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span id="spanhead"> Drop Box </span>
                </h4>
            </div>
            <div class="minebodydrop modal-body">
                <div id="frameWrap5">
                    <img id="loader122" width="36" height="36" />
                    <iframe id="dropboxframe" src="/Firm/loader" height="220px;" width="400px;">
                        <p>Your browser does not support iframes.</p>
                    </iframe>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
        <center> <div style="margin-top:-80px;"><span id="overlaycontent"></span> <span id="overlaytime"></span></div></center>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
<script>
    $(document).ready(function () {
        $('#docframe').on('load', function () {
            $('#loader12').hide();
        });
    });
</script>
<div id="myModal8" class="modal fade" role="dialog" style="z-index:2000;">
    <div class="modal-dialog " style="width: 98% !important;margin:20px auto">
        <!-- Modal content-->
        <div class="modal-content" style=" height: 585px;">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span id="spanhead"> Create Files</span>
                </h4>
            </div>
            <div class="minebody modal-body">
                <div id="frameWrap">
                    <img id="loader12" width="36" height="36" />
                    <iframe id="docframe" src="/Firm/loader" height="490px;" width="100%;">
                        <p>Your browser does not support iframes.</p>
                    </iframe>
                </div>
            </div>
            <script>
                $('#docframe').on('load', function () {
                    $('#loader12').hide();
                });
            </script>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#otherdocframe').on('load', function () {
            $('#loader121').hide();
        });
    });
</script>
@*for other filesopen*@
<div id="myModal9" class="modal fade" role="dialog" style="z-index:2000;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " style="width: 98% !important;margin:20px auto">
        <!-- Modal content-->
        <div class="modal-content" style=" height: 585px;">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span id="spanhead"> Create Files</span>
                </h4>
            </div>
            <div class="minebody modal-body">
                <div id="frameWrap1">
                    <img id="loader121" width="36" height="36" />
                    <iframe id="otherdocframe" src="/Firm/loader" height="490px;" width="100%;">
                        <p>Your browser does not support iframes.</p>
                    </iframe>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
@*for other movefile*@
<div id="myModalmove" class="modal fade" role="dialog" style="z-index:2000;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style=" height: 585px;">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span id="spanhead"> Move Files</span>
                </h4>
            </div>
            <span id="fileids" style="display:none"></span>
            <span id="filenames" style="display:none"></span>
            <span id="filepath" style="display:none"></span>
            <div class="minebody modal-body loadmovedirlist" style="height:450px; overflow-x:auto">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Create Document
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <legend>File</legend>
                                            <div class="form-group form-horizontal">
                                                <label class="control-label col-md-3">Choose Folder</label>
                                                <div class="col-md-8">
                                                    <select name="" class="form-control" id="filedirectory">
                                                        <option value="">Select Folder...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group form-horizontal">
                                                <label class="control-label col-md-3">File Name <span class="required" aria-required="true">*</span></label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" id="filename" placeholder="enter filename">
                                                </div>
                                            </div>
                                            <div class="form-group form-horizontal">
                                                @*<label class="control-label col-md-3">Permissions</label>
                                                    <div class="col-md-8" id="linkdata">
                                                    </div>*@
                                        </fieldset>
                                        <button class="btn btn-labeled btn-primary" data-toggle="modal" id="modeldocs">
                                            <span class="btn-label"><i class="fa fa-file-word-o"></i></span> Create  Document
                                        </button>&nbsp;
                                        <div class=" form-horizontal" style="display:none">
                                            <ul class="try-editor-list">
                                                <li><a class="try-editor document" href=" @Url.Action("sample", "Docs" , new { fileExt="docx" })" target="_blank">Create<br />Sample Document</a></li>
                                                @*<li><a class="try-editor spreadsheet" href="@Url.Action("sample", "Docs" , new { fileExt="xlsx" })" target="_blank">Create<br />Sample Spreadsheet</a></li>
                                                    <li><a class="try-editor presentation" href="@Url.Action("sample", "Docs" , new { fileExt="pptx" }) " target="_blank">Create<br />Sample Presentation</a></li>*@
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Create Folder for Files
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-danger alert-dismissable validpanel">
                            <button type="button" class="close" data-dismiss="alert" class="validpanel" aria-hidden="true">&times;</button>
                            . <a href="#" class="alert-link">Alert Link</a>.
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form role="form" id="foldercreate">
                                            <div class="form-group form-horizontal">
                                                <label class="control-label col-md-3">Folder Name<span class="required" aria-required="true" style="color:red"><b>*</b></span></label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" value="" id="cdir"><span style="color:red">(@@\/:*?"<>|.) is not allowed.</span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="CreateDir">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*////permission mpodel*@
<div id="myModalperm" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Permissions
                </h4>
            </div>
            <div class="modal-body" style="height:400px; overflow-y:scroll;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form role="form" id="foldercreate">
                                            <form id="fileupload" name="fileupload">
                                                <div class="form-group form-horizontal">
                                                    <label class="control-label col-md-3">File Name</label>
                                                    <div class="col-md-8">
                                                        <span id="directoryname"></span> <span id="directoryid" style="visibility:hidden"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group form-horizontal">
                                                    <label class="control-label col-md-3">Select User</label>
                                                    <div class="col-md-8">
                                                        <select class="form-control  viewm" name="state" tempname="user" id="contact" style="width:150px !important; padding:0 0 0 10px;">
                                                            <option value="" selected>Select User</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group form-horizontal">
                                                    <label class="control-label col-md-3">Permissions</label>
                                                    <div class="col-md-7" id="linkdata">
                                                    </div>
                                                    <label class="control-label removelabel " style="float:right; font-size:10px; margin-top: -20px;">(Can remove from his list)</label>
                                                </div>
                                                <div class="form-group form-horizontal" style="overflow-x:auto">
                                                    <table class="dataTable table table-bordered table-striped">
                                                        <tr>
                                                            <th width="15px;" style="background-color:#5c5c5c">S.No</th>
                                                            <th style="background-color:#5c5c5c"><span class="glyphicon glyphicon-folder-open" aria-hidden="true" style="color:orange"></span>&nbsp;&nbsp;&nbsp;  File Name</th>
                                                            <th style="background-color:#5c5c5c" width="100px;">Date</th>
                                                            <th style="background-color:#5c5c5c" width="100px;">User</th>
                                                            <th style="background-color:#5c5c5c" width="100px;">Permission</th>
                                                            <th style="background-color:#5c5c5c" width="100px;">Action</th>
                                                        </tr>
                                                        <tbody id="assignuserdata"></tbody>
                                                    </table>
                                                </div>
                                            </form>
                                        </form>
                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="assign">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="myModal1" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Upload  Files
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>File</legend>
                            <form id="fileupload" name="fileupload">
                                <div class="form-group form-horizontal">
                                    <label class="control-label col-md-3">Choose Folder</label>
                                    <div class="col-md-8">
                                        <select name="" class="form-control" id="directory">
                                            <option value="">Select Directory...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group form-horizontal">
                                    <label class="control-label col-md-3">File <span class="required" aria-required="true">*</span></label>
                                    <div class="col-md-8">
                                        <div id="dropContainer" style="border:1px solid #ccc;width:100%;">
                                            <center>
                                                <h3><span class="glyphicon glyphicon-cloud" style="color:#ccc"> </span><span style="color:#ccc">Drag and Drop Files here</span></h3>
                                                <input type="file" id="attachment" multiple required @*class="upload"*@>
                                                <label for="attachment">(Please upload a file up to 20MBs only..)</label>
                                                <output id="list"></output>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-horizontal">
                                    <label class="control-label col-md-3">Description</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" id="filedetails" maxlength="50" placeholder="Add Description...">
                                    </div>
                                </div>
                                <div class="form-group form-horizontal">
                                    @*<label class="control-label col-md-3">Permissions</label>
                                        <div class="col-md-8" id="linkdata">
                                        </div>*@
                            </form>
                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="createfiles"> Upload File</button>
                    <button type="button" class="btn btn-default" id="resercreatefiles"> Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <style>
    </style>
    <script>
        dropContainer.ondragover = dropContainer.ondragenter = function (evt) {
            evt.preventDefault();
        };
        dropContainer.ondrop = function (evt) {
            // pretty simple -- but not for IE :(
            var files1 = evt.dataTransfer.files;
            var output = [];
            for (var i = 0, f; f = files1[i]; i++) {
                //output.push('<li class="list-group-item"><strong>', f.name, '</strong> - ',
                //    f.size, ' bytes',
                //    '</li>');
                output.push('<tr><td class="">', f.name, ' </td><td> ',
                    f.size, ' bytes',
                    '</td></tr>');
            }
            // document.getElementById('list').innerHTML = '<ul class="list-group">' + output.join('') + '</ul>';
            document.getElementById('list').innerHTML = '<table id="" style="font-size:13px;" class=" table table-striped"><tr><th style="background:#ccc;color:black;font-weight:normal">File Name</th><th style="background:#ccc;color:black;font-weight:normal">Size</th></tr>' + output.join('') + '</table>';
            // }
            attachment.files = evt.dataTransfer.files;
            evt.preventDefault();
        };
    </script>
    @*//delete confirm model*@
    <div id="confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- dialog body -->
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    Hello world!
                </div>
                <!-- dialog buttons -->
                <div class="modal-footer"><button type="button" class="btn btn-primary">OK</button></div>
            </div>
        </div>
    </div>
    <script>
        $(document).on("click", "#myModal12", function () {
            $(".validpanel").css("display", "none");
            $('#myModal').modal({ show: true });
        });
    </script>
    @*@Scripts.Render("~/bundles/jquery", "~/bundles/scripts")*@
    <script language="javascript" type="text/javascript">
        var ConverExtList = '@string.Join(",", DocManagerHelper.ConvertExts.ToArray())';
        var EditedExtList = '@string.Join(",", DocManagerHelper.EditedExts.ToArray())';
        var UrlConverter = '@Url.Content("~/webeditor.ashx?type=convert")';
        var UrlEditor = '@Url.Action("editor", "Docs")';
    </script>
    <script>
        function getPagination(table) {
            $('#maxRows').on('change', function () {
                $('.pagination').html('');						// reset pagination
                var trnum = 0;									// reset tr counter
                var maxRows = parseInt($(this).val());
                //alert(maxRows);
                // alert(maxRows);// get Max Rows from select option
                var totalRows = $(table + ' tbody tr ').length;
                // alert(totalRows);// numbers of rows
                $('#example tbody tr').each(function () {			// each TR in  table and not the header
                    trnum++;
                    //alert(trnum);// Start Counter
                    if (trnum > maxRows) {						// if tr number gt maxRows
                        $(this).hide();							// fade it out
                    } if (trnum <= maxRows) { $(this).show(); }// else fade in Important in case if it ..
                });											//  was fade out to fade it in
                if (totalRows > maxRows) {						// if tr total rows gt max rows option
                    var pagenum = Math.ceil(totalRows / maxRows);
                    // alert(pagenum);// ceil total(rows/maxrows) to get ..
                    //	numbers of pages
                    for (var i = 1; i <= pagenum;) {			// for each page append pagination li
                        $('.pagination').append('<li data-page="' + i + '">\
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              <span>'+ i++ + '<span class="sr-only">(current)</span></span>\
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </li>').show();
                    }											// end for i
                } 												// end if row count > max rows
                $('.pagination li:first-child').addClass('active'); // add active class to the first li
                $('.pagination li').on('click', function () {		// on click each page
                    var pageNum = $(this).attr('data-page');
                    // alert(pageNum);// get it's number
                    var trIndex = 0;							// reset tr counter
                    $('.pagination li').removeClass('active');	// remove active class from all li
                    $(this).addClass('active');					// add active class to the clicked
                    $('#example tbody tr').each(function () {		// each tr in table not the header
                        trIndex++;
                        // alert(trIndex);
                        // tr index counter
                        // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                        if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                            $(this).hide();
                        } else { $(this).show(); } 				//else fade in
                    }); 										// end of for each tr in table
                });										// end of on click pagination list
            });
            // end of on select change
            // END OF PAGINATION
        }
    </script>
    <script>
        //#example tbody tr
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("example");
            switching = true;
            //Set the sorting direction to ascending:
            dir = "asc";
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
                //start by saying: no switching is done:
                switching = false;
                //rows = table.rows;
                rows = $("#example >tbody>tr");
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 0; i < (rows.length - 1); i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /*check if the two rows should switch place,
                    based on the direction, asc or desc:*/
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    //Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /*If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again.*/
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
