@{
    /**/
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<input type="hidden" id="token" name="token" value="@ViewBag.token" />
<script>
    var caseid = "@ViewBag.token";
    var search = "@ViewBag.Search";
</script>
<script src="~/Scripts/Firm/Pages/SaveLimitationCase.js?2.1" type="text/javascript" language="javascript"></script>
<section class="wrapper">
    <div class="container-main showcontent" id="showcontent">
        <div class="pull-right inputFormat" style="background-color: #ebebeb !important; padding-top: 3px" id="divMatterdetais">
            <span>Add manual Limitation Date</span>
            &nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#limitationdata" style="padding-top: 3px; margin-right: -5px" class="pull-right sbtbtn"><b><span class="glyphicon glyphicon-plus"></span></b></a>
        </div>
        <div>
            <h2 class="title">Period of Limitation</h2>
            <div class="pull-right">
                Whether condonation is Applicable? <input type="checkbox" id="condonation" value="1" />
            </div>
            <div class="form-inline" style="padding: 0 0 10px 0;">
                <div class="form-group">
                    <input style="background-color: #ebebeb !important;" type="text" class="form-control inputFormat" name="search" id="search" placeholder="search" required />
                    <button type="button" id="btnSearch" style="margin: 0;position: relative;top: -27px;float: right;background: none;border: none;" class="sbtbtn"><i style="margin-left:0px" class="glyphicon glyphicon-search"></i></button>
                </div>
                <div class="form-group" style="margin-top:-25px;">
                    <span id="clearnewseach" class="sbtbtn" title="Click here to reset search" style="margin-top:-25px;display:none;color:black;font-size:15px;font-weight:350;cursor:pointer">x</span>
                </div>
                <span data-toggle="collapse" data-target="#demo">
                    <img src="~/newassets/images/info_icon.png" style="cursor:pointer; margin-top: -20px " />
                </span>
                <div id="demo" class="collapse" style="border: 1px solid rgb(143, 213, 0); background:white; padding: 4px; width: 360px;top:155px;z-index:1000;position: absolute; left:383px;">
                    <ul style="margin:0 0 0 20px;">
                        <li>Statute of limitations outlines the timeframes within which legal proceedings must be brought.</li>
                        <li>Search here for the period of limitation prescribed under various acts, matters, suits etc. Type the search term and select from the list.</li>
                        <li>Add the start date calculated manually basis your matter on hand and click +.</li>
                        <li>The due date is calculated automatically.</li>
                        <li>Click on the icon to set alert for reminders.</li>
                    </ul>
                </div>
            </div>
            <div id="divSubject" style="display:none;">
                <select id="ddlSubject" name="ddlSubject">
                    <option value="">Select Subject</option>
                </select>
            </div>
            <div class="table-panel table-responsive" data-example-id="hoverable-table" id="home">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="lsubject"><div class="thbg">Subject</div></th>
                            <th class="lprovision"><div class="thbg">Provision</div></th>
                            <th class="limitapl"><div class="thbg">Limitation Applicable</div></th>
                            <th class="ltask"><div class="thbg">Task</div></th>
                            <th class="lduedays"><div class="thbg">Due Days</div></th>
                            <th class="lremarks"><div class="thbg">Remarks</div></th>
                            <th class="lduedetails"><div class="thbg">Due Date Details</div></th>
                            <th><div class="thbg">Actions</div></th>
                        </tr>
                    </thead>
                    <tbody id="bindLimitationcase"></tbody>
                </table>
                <center><div id="datalimitstatus"></div></center>
                <div class="table-panel">
                    <div class="settingpanel">
                        <div class="col-md-6">
                            <div style="float: left;padding: 0 10px 0 0;">
                                <ul>
                                    <li>
                                        <div class="btn-group dropup">
                                            <a href="javascript:void()" style="background-color: #ebebeb !important;" class=" dropdown-toggle form-control selctInputFormat " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="glyphicon glyphicon-cog" style="font-size:14px;color:#4d95dd;padding:0 5px 0 0 "></span>
                                                Customize Field
                                            </a>
                                            <ul class="dropdown-menu settingshowhide" id="lc">
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="limitapl" checked><a href="#">Limitation Applicable</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="lsubject" checked><a href="#">Subject</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="lprovision" checked><a href="#">Provision</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="ltask" checked><a href="#">Task</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="lduedays" checked><a href="#">Due Days</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="lremarks"><a href="#">Remarks</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="lduedetails"><a href="#">Due Date Details</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="tfooter">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="pull-right"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:none" id="savelimitdiv">
                <h2 class="title" style="text-align:center; margin-top: 40px !important;">Period of Limitation   |  @ViewBag.casename</h2>
                <div class="table-panel table-responsive" data-example-id="hoverable-table" id="home2">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="lCaseNo"><div class="thbg">Subject</div></th>
                                <th class="lProvision"><div class="thbg">Provision</div></th>
                                <th class="lCasename"><div class="thbg">Limitation Applicable</div></th>
                                <th class="lCNRno"><div class="thbg">Start Date</div></th>
                                <th class="lAlertdate"><div class="thbg">Alert Date</div></th>
                                <th class="lCourt"><div class="thbg">Due Date</div></th>
                                <th class="lCasetype"><div class="thbg">Task</div></th>
                                <th class="lDuedays"><div class="thbg">Due Days</div></th>
                                <th class="lStatus"><div class="thbg">Remarks</div></th>
                                <th class="lmodify"><div class="thbg">Modified On</div></th>
                                <th><div class="thbg">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="savedLimtationData"></tbody>
                    </table>
                    <center>
                        <div></div>
                    </center>
                    <div class="table-panel">
                        <div class="row settingpanel">
                            <div class="col-md-6">
                                <div style="float: left;padding: 0 10px 0 0;">
                                    <ul>
                                        <li>
                                            <div class="btn-group dropup">
                                                <a href="javascript:void()" style="background-color: #ebebeb !important;" class=" dropdown-toggle form-control selctInputFormat " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="glyphicon glyphicon-cog" style="font-size:14px;color:#4d95dd;padding:0 5px 0 0 "></span>
                                                    Customize Field
                                                </a>
                                                <ul class="dropdown-menu settingshowhide" id="lc" style="width: 180px !important;">
                                                    <li><input type="checkbox" class="shcheckbox1 chkdhide" name="lCasename" checked><a href="#">Limitation Applicable</a></li>
                                                    <li><input type="checkbox" class="shcheckbox1 chkdhide" name="lCaseNo" checked><a href="#">Subject</a></li>
                                                    <li><input type="checkbox" class="shcheckbox1 chkdhide" name="lCNRno" checked><a href="#">Start Date</a></li>
                                                    <li><input type="checkbox" class="shcheckbox1 chkdhide" name="lAlertdate" checked><a href="#">Alert Date</a></li>
                                                    <li><input type="checkbox" class="shcheckbox1 chkdhide" name="lCourt" checked><a href="#">Due Days</a></li>
                                                    <li><input type="checkbox" class="shcheckbox1 chkdhide" name="lCasetype"><a href="#">Task</a></li>
                                                    <li><input type="checkbox" class="shcheckbox1 chkdhide" name="lStatus"><a href="#">Remarks</a></li>
                                                    <li><input type="checkbox" class="shcheckbox1 chkdhide" name="lmodify"><a href="#">Modified On</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div id="tfooter">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <ul class="pull-right"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="savelimitmanualdiv">
                <h2 class="title" style="text-align:center; margin-top: 40px !important;">Manual Limitation Entry   |  @ViewBag.casename</h2>
                <div class="table-panel table-responsive" data-example-id="hoverable-table" id="home2">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th><div class="thbg">Start Date</div></th>
                                <th><div class="thbg">Limitation Date</div></th>
                                <th><div class="thbg">Alert Date</div></th>
                                <th><div class="thbg">Due Days</div></th>
                                <th><div class="thbg">Description</div></th>
                                <th><div class="thbg">Action</div></th>
                            </tr>
                        </thead>
                        <tbody id="savedLimtationManualData"></tbody>
                    </table>
                    <center>
                        <div></div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>
@*edit limitation*@
<div class="modal fade" id="modalLimitation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:unset !important">&times;</span></button>
                <div id="divusergroupLabel"><h4 class="modal-title" id="myModalLabel">Set Action - Period of Limitation</h4></div>
            </div>
            <div class="modal-body " style="height:450px; overflow:auto">
                <!-- Main content -->
                <form enctype="multipart/form-data" novalidate="novalidate">
                    <!-- Start About boxes -->
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#createlimit">Create</a></li>
                                <li><a data-toggle="tab" href="#viewlimit">View</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="createlimit" class="tab-pane fade in active">
                                    <fieldset class="ec_bg" style="overflow:scroll">
                                        <div class="form-group ">
                                            <label class="formLabel colorDark col-md-12">Limitation Applicable&nbsp;</label>
                                            <div class="col-md-12">
                                                <input id="LimitationApplicable" name="LimitationApplicable" type="text" class="form-control inputFormat" readonly />
                                            </div>
                                        </div>
                                        <br /><br />
                                        <div class="form-group ">
                                            <label class="formLabel colorDark col-md-12">Provision&nbsp;</label>
                                            <div class="col-md-12">
                                                <input id="Provision" name="Provision" type="text" class="form-control inputFormat" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="formLabel colorDark col-md-12">Start Date<span class="required" aria-required="true">*</span>&nbsp;</label>
                                            <div class="col-md-12">
                                                <input id="ddate" name="ddate" type="date" class="form-control inputFormat" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="formLabel colorDark col-md-12">Due Date<span class="required" aria-required="true">*</span>&nbsp;</label>
                                            <div class="col-md-12">
                                                <input id="duedate" name="duedate" type="text" class="form-control inputFormat" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="formLabel colorDark col-md-12">Remarks<span class="required" aria-required="true">*</span>&nbsp;</label>
                                            <div class="col-md-12">
                                                <textarea id="Remarks" name="Remarks" maxlength="2000" class="form-control inputFormatTextArea" rows="25" cols="5" style="height:65px !important;"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group " style="display:none;">
                                            <label class="formLabel colorDark col-md-12">Attachments&nbsp;</label>
                                            <div class="col-md-12">
                                                <input type="file" multiple id="attachmentcase" name="attachmentcase" style="border-bottom:none !important;" class="form-control inputFormat">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="formLabel colorDark col-md-12"> Enter Days<span class="required" aria-required="true">*</span>&nbsp;</label>
                                            <div class="col-md-12">
                                                <input type="text" id="chkdate" onkeypress="return isNumberKey(event)" class="form-control inputFormat" minlength="1" maxlength="2" />
                                            </div>
                                        </div>
                                        <div class="form-group " style="margin-top:5px;clear:both">
                                            <label class="control-label col-md-12">User(s)<span class="required" aria-required="true">*</span>&nbsp;</label>
                                            <div class="col-md-12">
                                                <a href="javascript:void()" class="dropdown-toggle selctInputFormat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <label id="lblTeammemberSelectlimit" style="color: #7c7777;font-size: 12px;font-weight: 500;text-transform:unset;width:200px;">Select</label>
                                                </a>
                                                <ul class="dropdown-menu settingshowhide" id="rUsers" style="width:200px!important;"></ul>
                                            </div>
                                        </div>
                                        <div class="form-group form-horizontal" style="display:none;">
                                            <label class="control-label col-md-3">Set Alert&nbsp;</label>
                                            <div class="col-md-9">
                                                <input id="setalert" name="setalert" type="checkbox" checked class="form-control" />
                                            </div>
                                        </div>
                                    </fieldset>
                                    <input type="hidden" id="hidid">
                                    <input type="hidden" id="hidcaid">
                                    <input type="hidden" id="hidDueDays">
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="rSaveLimitation">Save</button>
                                    </div>
                                </div>
                                <div id="viewlimit" class="tab-pane fade">
                                    <div class="table-panel table-responsive" data-example-id="hoverable-table" id="home">
                                        <h2 class="title">Alert Date</h2>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th><div class="thbg">Due Date</div></th>
                                                    <th><div class="thbg">Alert Date</div></th>
                                                </tr>
                                            </thead>
                                            <tbody id="bindalertdate"></tbody>
                                        </table>
                                        <center><div id="dataalertdatestatus"></div></center>
                                    </div>
                                    <div class="table-panel table-responsive" data-example-id="hoverable-table" id="home">
                                        <h2 class="title">User(s)</h2>
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th><div class="thbg">Name</div></th>
                                                    <th><div class="thbg">Email</div></th>
                                                    <th><div class="thbg">Mobile</div></th>
                                                </tr>
                                            </thead>
                                            <tbody id="bindalertuser"></tbody>
                                        </table>
                                        <center><div id="dataalertuserstatus"></div></center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.content -->
                </form>
            </div>
        </div>
    </div>
</div>
@*end edit limitation*@
@*set action limitation*@
<div class="modal fade" id="modalactionLimitation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:unset !important">&times;</span></button>
                <div id="divusergroupLabel"><h4 class="modal-title" id="myModalLabel">Set Action - Period of Limitation</h4></div>
            </div>
            <div class="modal-body " style="min-height:300px; overflow:auto">
                <!-- Main content -->
                <form enctype="multipart/form-data" novalidate="novalidate">
                    <!-- Start About boxes -->
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="ec_bg" style="overflow: scroll;">
                                <div class="form-group ">
                                    <label class="control-label colorDark  col-md-12">Limitation Applicable&nbsp;</label>
                                    <div class="col-md-12">
                                        <input id="actionLimitationApplicable" name="actionLimitationApplicable" type="text" class="form-control inputFormat " readonly />
                                    </div>
                                </div>
                                <br /><br />
                                <div class="form-group ">
                                    <label class="control-label colorDark   col-md-12">Provision&nbsp;</label>
                                    <div class="col-md-12">
                                        <input id="actionProvision" name="actionProvision" type="text" class="form-control inputFormat" readonly />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label colorDark  col-md-12">Attachments&nbsp;</label>
                                    <div class="col-md-12">
                                        <input type="file" multiple id="actionattachmentcase" name="actionattachmentcase" style="border-bottom:none !important;top:5px;" class="form-control inputFormat">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label colorDark  col-md-12">Due Date&nbsp;</label>
                                    <div class="col-md-12">
                                        <input id="dduedate" name="dduedate" type="text" class="form-control inputFormat" readonly />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label colorDark  col-md-12">Action&nbsp;</label>
                                    <div class="col-md-12">
                                        <select id="actionDone" class="form-control inputFormat">
                                            <option value="0">Pending</option>
                                            <option value="1">Done</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label colorDark  col-md-12">Remarks</label>
                                    <div class="col-md-12">
                                        <textarea id="sremarks" name="sRemarks" class="form-control" rows="25" cols="5" style="height:65px !important;" maxlength="2000"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <!-- /.content -->
                    <input type="hidden" id="hidid">
                    <input type="hidden" id="hidcaid">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="actionSaveLimitation">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*end set action limitation*@
@*alert limitation manual*@
<div class="modal fade" id="modalLimitationmanual" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" id="closemanuallimit" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:unset !important">&times;</span></button>
                <div id="divusergroupLabelmanual"><h4 class="modal-title" id="myModalLabel">Set Action - Period of Limitation</h4></div>
            </div>
            <div class="modal-body " style="height:450px; overflow:auto">
                <!-- Main content -->
                <form enctype="multipart/form-data" novalidate="novalidate">
                    <!-- Start About boxes -->
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#createlimit2">Create</a></li>
                                <li><a data-toggle="tab" href="#viewlimit2">View</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="createlimit2" class="tab-pane fade in active">
                                    <fieldset class="ec_bg" style="overflow: scroll;">
                                        <div class="form-group ">
                                            <label class="formLabel colorDark  col-md-12">Start Date<span class="required" aria-required="true">*</span>&nbsp;</label>
                                            <div class="col-md-12">
                                                <input id="ddateml" name="ddateml" type="date" class="form-control inputFormat" " readonly        />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="formLabel colorDark  col-md-12">Due Date<span class="required" aria-required="true">*</span>&nbsp;</label>
                                            <div class="col-md-12">
                                                <input id="duedateml" name="duedateml" type="text" class="form-control inputFormat" " readonly        />
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="formLabel  colorDark  col-md-12">Remarks<span class="required" aria-required="true">*</span>&nbsp;</label>
                                            <div class="col-md-12">
                                                <textarea id="Remarksml" name="Remarksml" maxlength="2000" class="form-control inputFormat" " rows="25" cols="5" style="height:65px !important;"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group " style="display:none;">
                                            <label class="formLabel colorDark  col-md-12">Attachments&nbsp;</label>
                                            <div class="col-md-12">
                                                <input type="file" multiple id="attachmentcaseml" name="attachmentcaseml" style="border-bottom:none !important;" class="form-control inputFormat" ">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="formLabel col-md-12"> Enter Days<span class="required" aria-required="true">*</span>&nbsp;</label>
                                            <div class="col-md-12">
                                                <input type="text" id="chkdateml" onkeypress="return isNumberKey(event)" class="form-control inputFormat" " minlength="1" maxlength="2" />
                                            </div>
                                        </div>
                                        <div class="form-group " style="margin-top:5px;clear:both">
                                            <label class="formLabel col-md-12">User(s)<span class="required" aria-required="true">*</span>&nbsp;</label>
                                            <div class="col-md-12">
                                                <a href="javascript:void()" class="dropdown-toggle selctInputFormat" " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <label id="lblTeammemberSelectlimitmanual" style="color: #7c7777;font-size: 12px;font-weight: 500;text-transform:unset;width:180px;">Select</label>
                                                </a>
                                                <ul class="dropdown-menu settingshowhide" id="rUsersml" style="width:200px!important;"></ul>
                                            </div>
                                        </div>
                                        <div class="form-group form-horizontal" style="display:none;">
                                            <label class="control-label col-md-3">Set Alert&nbsp;</label>
                                            <div class="col-md-9">
                                                <input id="setalertml" name="setalertml" type="checkbox" checked class="form-control" />
                                            </div>
                                        </div>
                                    </fieldset>
                                    <input type="hidden" id="hididml">
                                    <input type="hidden" id="hidcaidml">
                                    <input type="hidden" id="hidDueDaysml">
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="rSaveLimitationml">Save</button>
                                    </div>
                                </div>
                                <div id="viewlimit2" class="tab-pane fade">
                                    <div class="table-panel table-responsive" data-example-id="hoverable-table" id="home">
                                        <h2 class="title">Alert Date</h2>
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th><div class="thbg">Due Date</div></th>
                                                    <th><div class="thbg">Alert Date</div></th>
                                                </tr>
                                            </thead>
                                            <tbody id="bindalertdatemanual"></tbody>
                                        </table>
                                        <center><div id="dataalertdatestatusmanual"></div></center>
                                    </div>
                                    <div class="table-panel table-responsive" data-example-id="hoverable-table" id="home">
                                        <h2 class="title">User(s)</h2>
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th><div class="thbg">Name</div></th>
                                                    <th><div class="thbg">Email</div></th>
                                                    <th><div class="thbg">Mobile</div></th>
                                                </tr>
                                            </thead>
                                            <tbody id="bindalertusermanual"></tbody>
                                        </table>
                                        <center><div id="dataalertuserstatusmanual"></div></center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.content -->
                </form>
            </div>
        </div>
    </div>
</div>
@*end alert limitation manual*@
<div class="modal fade" id="modaladd_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:unset !important">&times;</span></button>
                <div id="divusergroupLabel"><h4 class="modal-title" id="myModalLabel">Add Limitation</h4></div>
            </div>
            <div class="modal-body " style="min-height:300px; overflow:auto">
                <!-- Main content -->
                <form enctype="multipart/form-data" novalidate="novalidate">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="actionSaveLimitation">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<!-- Sagar -->
<div class="modal fade" id="limitationdata" role="form" style="z-index: 9999;">
    <div class="modal-dialog modal-lg" style="width:950px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="manuallimitclosemodel">&times;</button>
                <h4 class="modal-title">Add Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form enctype="multipart/form-data" action="#" id="manuallimitform">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th><div class="thbg">Start Date <span class="required" aria-required="true" style="color:red"><b>*</b> </span></div></th>
                                        <th><div class="thbg">Limitation Date <span class="required" aria-required="true" style="color:red"><b>*</b> </span></div></th>
                                        <th><div class="thbg">Description</div></th>
                                        <th><div class="thbg"></div></th>
                                    </tr>
                                </thead>
                                <tbody id="tbody_limitationData1" class="ec_bg">
                                    <tr>
                                        <td><input type="date" class="form-control inputFormat" placeholder="StartDate" id="fStartDate" name="fStartDate" /></td>
                                        <td><input type="date" class="form-control inputFormat" placeholder="LimitationDate" id="fLimitationDate" name="fLimitationDate" /></td>
                                        <td><input type="text" class="form-control inputFormat" placeholder="Description" id="fDescription" name="fDescription" maxlength="200" /></td>
                                        <td>
                                            <button type="button" id="limitation_btnsave" class="sbtbtn" onclick="fn_limitation_btnsave();"><i class="fa fa-floppy-o"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none !important">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.7);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>