@{
    var role = Session["sessionroleid"];
    var userid = Session["sessionuserid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<script>
    var totpagesize = @ViewBag.pagesize;
    var roleids = "@role";
    var userid = "@userid";
   var stfUser=  @ViewBag.stfUser;
</script>
<style>
    .glyphicon-pencil,
    .glyphicon-trash,
    .fa-key {
        color: black !important;
    }
</style>
<style>
    /*.dropdown-menu {
        min-width: 180px !important;
    }*/
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        .dropbtn:hover,
        .dropbtn:focus {
            background-color: #3e8e41;
        }

    #searchdata {
        border: 1px solid #ccc;
        padding: 7px 4px;
        font-size: 12px;
        background: #ffffff;
        width: 92%;
        margin: 5px 0 13px 0;
    }

    #myInput:focus {
        outline: 3px solid #ddd;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
</style>
<style>
    .add-user-btn {
        display: inline-flex;
        align-items: center;
        padding: 8px 16px;
        background-color: #005b82; /* Dark blue like image */
        color: white;
        text-decoration: none;
        font-weight: 500;
        border-radius: 4px;
        font-size: 14px;
    }

        .add-user-btn .plus-icon {
            font-size: 18px;
            margin-right: 8px;
        }
    .badge-ac {
        cursor: pointer;
        border: 1px solid #0369A1;
        font-size: 11px;
        color: #0369A1;
        padding: 1px 2px;
        border-radius: 6px;
        }
    .enabled_badge {
        cursor: pointer;
        border: 1px solid #17B26A;
        font-size: 11px;
        color: #17B26A;
        padding: 1px 2px;
        border-radius: 6px;
    }
    .disabled_badge {
        cursor: pointer;
        border: 1px solid #F04438;
        font-size: 11px;
        color: #F04438;
        padding: 1px 2px;
        border-radius: 6px;
    }

   
</style>
<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    $('body').click(function (evnt) {
        $('#myDropdown').click(function (event) {
            event.stopPropagation();
            return false;
        });
        $('#dropdowntab').click(function (event) {
            event.stopPropagation();
            return false;
        });
        $(".dropdown-content").removeClass("show");
    });
</script>
<section id="header">
    <div class="container-main">
        <div class="text-left">
            <p class="ctitle">User List</p>           
        </div>
    </div>
</section>
<section>
    <div class="container-main">
        <div class="content1" style="justify-content: flex-end; padding: 20px 0px 0px;">
                <div class="table-header">
                    <div class="actions3">

                        @if (role.ToString() == "1" || Convert.ToInt32(ViewBag.export) == 1)
                        {
                            <div class="menuexport" style="position:relative; cursor:pointer;">
                                <div class="dropdown-toggle button9" id="menuexport" type="button" data-toggle="dropdown" title="Export">
                                    <img class="plus-icon" alt="" src="/newassets/img/upload-icon.png">
                                </div>
                                <ul class="dropdown-menu action-more" role="menu" aria-labelledby="menuexport">
                                    <li>
                                        <div id="excel" title="Export to Excel">
                                        <span style="padding: 0 10px 0 0;"><img src="/newassets/img/exportexl-icon.png"></span> Export to Excel</div>
                                    </li>
                                    <li>
                                        <div id="pdf" title="Export data to PDF"> <span style="padding: 0 10px 0 0;"><img src="/newassets/img/exportpdf-icon.png"></span>Export to PDF</div>
                                    </li>
                                </ul>
                            </div>
                        }
                        <div class="button13 dropup" id="ColumnSelectionopen">
                            <a href="javascript:void()" class="dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="plus-icon" alt="" src="/newassets/img/settings-icon.png">
                                Customize Field
                            </a>
                        </div>
                        <div title="Column Selection">
                            @if (role.ToString() == "1" || Convert.ToInt32(ViewBag.IsCreate) == 1)
                            {
                                <a href="javascript:void()" class="button4" id="linkuser" title="Create New User"><img alt="" src="/newassets/img/plus-icon.png"> Add New User</a>
                            }
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</section>
<section id="table">
    <div class="container-main">
        <div class="table">
            <div class="tablearea" style="margin:0;">
                <div class="tablecontainer">
                    <div id="updatePanel">
                    </div>
                    <center><span id="datastatus"></span></center>
                </div>
                <div class="pagination" id="pagenatedArea">
                    <div class="pagination-button-group">
                        <div id="prev" class="pagination-button-group-base">
                            <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                            <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                        </div>
                        <div id="pageNumbers" class="pagination-button-group-base1">
                            @*<div class="text">a</div>*@
                            @*<span id="pageNumbers" class="pages"></span>*@
                        </div>

                        <div id="next" class="pagination-button-group-base8">
                            <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                            <img style="float: right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />

                        </div>
                    </div>
                    <div class="text-and-supporting-text-parent">
                        <div class="input">
                            <div class="content">
                                <input type="text" id="txtgopage" name="query" placeholder="Page No.">
                            </div>
                            <div class="help-icon">
                            </div>
                        </div>
                        <div class="text-and-supporting-text-group">
                            <div class="text-and-supporting-text">
                                <div id="divGo" class="text9">Go</div>
                            </div>
                            <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

    <div class="container-main">
        <div class="">
                <div id="page-wrapper">
                    <div class="container-fluid showcontent" id="showcontent">
                        <div class="box">
                            <div class="box-header" style="padding:5px;" id="">
                                <ul class="btn_panel no-margin pull-right" style="padding:0;" id="sectiontemp">
                                    <li>
                                        <script type="text/javascript">
                                            var tableToExcel = (function () {
                                                var uri = 'data:application/vnd.ms-excel;base64,'
                                                    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="https://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                                                    , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                                                    , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
                                                return function (table, name) {
                                                    if (!table.nodeType) table = document.getElementById(table)
                                                    var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                                                    var blob = new Blob([format(template, ctx)]);
                                                    var blobURL = window.URL.createObjectURL(blob);
                                                    if (ifIE()) {
                                                        csvData = table.innerHTML;
                                                        if (window.navigator.msSaveBlob) {
                                                            var blob = new Blob([format(template, ctx)], {
                                                                type: "text/html"
                                                            });
                                                            navigator.msSaveBlob(blob, '' + name + '.xls');
                                                        }
                                                    }
                                                    else
                                                        window.location.href = uri + base64(format(template, ctx))
                                                }
                                            })()
                                            function ifIE() {
                                                var isIE11 = navigator.userAgent.indexOf(".NET CLR") > -1;
                                                var isIE11orLess = isIE11 || navigator.appVersion.indexOf("MSIE") != -1;
                                                return isIE11orLess;
                                            }
                                        </script>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.box-header -->
                        <!-- /.panel-heading -->
                        <script>
                            @*var type = '@ViewBag.type'
                                    //console.log(type);*@
                        </script>
                        <script src="~/Scripts/Firm/Pages/StandardUserList.js?3.6" type="text/javascript"></script>
                        <script src="~/CssJsfiles/js/3.3.1/jquery.min.js"></script>
                        <script src="~/CssJsfiles/js/jquery.dataTables.min.js"></script>
                        <script type="text/javascript">
                            var tableToExcel = (function () {
                                var uri = 'data:application/vnd.ms-excel;base64,'
                                    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="https://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                                    , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                                    , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
                                return function (table, name) {
                                    if (!table.nodeType) table = document.getElementById(table)
                                    var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                                    window.location.href = uri + base64(format(template, ctx))
                                }
                            })()
                        </script>
                        <script>
                            function searchTable() {
                                var input, filter, found, table, tr, td, i, j;
                                input = document.getElementById("searchdata");
                                filter = input.value.toLowerCase();
                                table = document.getElementById("example");
                                tr = table.getElementsByTagName("tr");
                                for (i = 0; i < tr.length; i++) {
                                    td = tr[i].getElementsByTagName("td");
                                    for (j = 0; j < td.length; j++) {
                                        if (td[j].innerHTML.toLowerCase().indexOf(filter) > -1) {
                                            found = true;
                                        }
                                    }
                                    if (found) {
                                        tr[i].style.display = "";
                                        found = false;
                                    } else {
                                        tr[i].style.display = "none";
                                    }
                                }
                            }
                            function filterFunctionstatus() {
                                var input, filter, found, table, tr, td, i, j;
                                input = document.getElementById("le");
                                filter = input.value.toUpperCase();
                                table = document.getElementById("example");
                                tr = table.getElementsByTagName("tr");
                                for (i = 0; i < tr.length; i++) {
                                    td = tr[i].getElementsByClassName("status1");
                                    for (j = 0; j < td.length; j++) {
                                        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                                            found = true;
                                        }
                                    }
                                    if (found) {
                                        tr[i].style.display = "";
                                        found = false;
                                    } else {
                                        tr[i].style.display = "none";
                                    }
                                }
                                $(".dropdown-content").removeClass("show");
                            }
                        </script>
                        <script src="~/CssJsfiles/js/1.8.3/jquery.min.js"></script>
                        <script src="~/CssJsfiles/js/html2canvas.min.js"></script>
                        <script type="text/javascript">
                            $("body").on("click", "#btnExport", function () {
                                html2canvas($('#example')[0], {
                                    onrendered: function (canvas) {
                                        var data = canvas.toDataURL();
                                        var docDefinition = {
                                            content: [{
                                                image: data,
                                                width: 500
                                            }]
                                        };
                                        pdfMake.createPdf(docDefinition).download("UserList.pdf");
                                    }
                                });
                            });
                        </script>
                        
                        
                    </div>
                </div>
                @*<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js'></script>*@
                <script>
                    /*					PAGINATION
                    - on change max rows select options fade out all rows gt option value mx = 5
                    - append pagination list as per numbers of rows / max rows option (20row/5= 4pages )
                    - each pagination li on click -> fade out all tr gt max rows * li num and (5*pagenum 2 = 10 rows)
                    - fade out all tr lt max rows * li num - max rows ((5*pagenum 2 = 10) - 5)
                    - fade in all tr between (maxRows*PageNum) and (maxRows*pageNum)- MaxRows
                    */
                    getPagination('#example');
                    function getPagination(table) {
                        $('#maxRows').on('change', function () {
                            $('.pagination').html('');						// reset pagination
                            var trnum = 0;									// reset tr counter
                            var maxRows = parseInt($(this).val());
                            // alert(maxRows);
                            // alert(maxRows);// get Max Rows from select option
                            var totalRows = $(table + ' tbody tr ').length;
                            // alert(totalRows);// numbers of rows
                            $('#example tbody tr').each(function () {			// each TR in  table and not the header
                                trnum++;
                                //alert(trnum);// Start Counter
                                if (trnum > maxRows) {						// if tr number gt maxRows
                                    $(this).hide();							// fade it out
                                } if (trnum <= maxRows) { $(this).show(); }// else fade in Important in case if it ..
                            });											//  was fade out to fade it in
                            if (totalRows > maxRows) {						// if tr total rows gt max rows option
                                var pagenum = Math.ceil(totalRows / maxRows);
                                // alert(pagenum);// ceil total(rows/maxrows) to get ..
                                //	numbers of pages
                                for (var i = 1; i <= pagenum;) {			// for each page append pagination li
                                    $('.pagination').append('<li data-page="' + i + '">\
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          <span>'+ i++ + '<span class="sr-only">(current)</span></span>\
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        </li>').show();
                                }											// end for i
                            } 												// end if row count > max rows
                            $('.pagination li:first-child').addClass('active'); // add active class to the first li
                            $('.pagination li').on('click', function () {		// on click each page
                                var pageNum = $(this).attr('data-page');
                                // alert(pageNum);// get it's number
                                var trIndex = 0;							// reset tr counter
                                $('.pagination li').removeClass('active');	// remove active class from all li
                                $(this).addClass('active');					// add active class to the clicked
                                $('#example tbody tr').each(function () {		// each tr in table not the header
                                    trIndex++;
                                    // alert(trIndex);
                                    // tr index counter
                                    // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                                    if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                                        $(this).hide();
                                    } else { $(this).show(); } 				//else fade in
                                }); 										// end of for each tr in table
                            });										// end of on click pagination list
                        });
                        // end of on select change
                        // END OF PAGINATION
                    }
                </script>
                <script>
                    function sortTable(n, type = null) {
                        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                        table = document.getElementById("example");
                        switching = true;
                        //Set the sorting direction to ascending:
                        dir = "asc";
                        /*Make a loop that will continue until
                        no switching has been done:*/
                        while (switching) {
                            //start by saying: no switching is done:
                            switching = false;
                            rows = table.rows;
                            /*Loop through all table rows (except the
                            first, which contains table headers):*/
                            for (i = 0; i < (rows.length - 1); i++) {
                                //start by saying there should be no switching:
                                shouldSwitch = false;
                                /*Get the two elements you want to compare,
                                one from current row and one from the next:*/
                                x = rows[i].getElementsByTagName("TD")[n];
                                y = rows[i + 1].getElementsByTagName("TD")[n];
                                /*check if the two rows should switch place,
                                based on the direction, asc or desc:*/
                                if (type == "1") {
                                    if (dir == "asc") {
                                        if (new Date(x.innerHTML.toLowerCase()) > new Date(y.innerHTML.toLowerCase())) {
                                            //if so, mark as a switch and break the loop:
                                            shouldSwitch = true;
                                            break;
                                        }
                                    } else if (dir == "desc") {
                                        if (new Date(x.innerHTML.toLowerCase()) < new Date(y.innerHTML.toLowerCase())) {
                                            //if so, mark as a switch and break the loop:
                                            shouldSwitch = true;
                                            break;
                                        }
                                    }
                                }
                                else if (type == "2") {
                                    if (dir == "asc") {
                                        if (parseFloat(x.innerHTML.toLowerCase()) > parseFloat(y.innerHTML.toLowerCase())) {
                                            //if so, mark as a switch and break the loop:
                                            shouldSwitch = true;
                                            break;
                                        }
                                    } else if (dir == "desc") {
                                        if (parseFloat(x.innerHTML.toLowerCase()) < parseFloat(y.innerHTML.toLowerCase())) {
                                            //if so, mark as a switch and break the loop:
                                            shouldSwitch = true;
                                            break;
                                        }
                                    }
                                }
                                else {
                                    if (dir == "asc") {
                                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                            //if so, mark as a switch and break the loop:
                                            shouldSwitch = true;
                                            break;
                                        }
                                    } else if (dir == "desc") {
                                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                            //if so, mark as a switch and break the loop:
                                            shouldSwitch = true;
                                            break;
                                        }
                                    }
                                }
                            }
                            if (shouldSwitch) {
                                /*If a switch has been marked, make the switch
                                and mark that a switch has been done:*/
                                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                switching = true;
                                //Each time a switch is done, increase this count by 1:
                                switchcount++;
                            } else {
                                /*If no switching has been done AND the direction is "asc",
                                set the direction to "desc" and run the while loop again.*/
                                if (switchcount == 0 && dir == "asc") {
                                    dir = "desc";
                                    switching = true;
                                }
                            }
                        }
                    }
                </script>
                <br />
                <div id="myOverlay" class="overlay">
                    <div class="overlay-content">
                        <div class="spinner2">
                            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
                        </div>
                    </div>
                </div>
                <style>
                    .overlay {
                        height: 100%;
                        width: 100%;
                        display: none;
                        position: fixed;
                        z-index: 1;
                        top: 0;
                        left: 0;
                        background-color: rgb(0, 0, 0);
                        background-color: rgba(0, 0, 0, 0.4);
                    }

                    .overlay-content {
                        position: relative;
                        top: 46%;
                        width: 80%;
                        text-align: center;
                        margin-top: 30px;
                        margin: auto;
                        color: white;
                    }

                    .overlay .closebtn {
                        position: absolute;
                        top: 20px;
                        right: 45px;
                        font-size: 60px;
                        cursor: pointer;
                        color: white;
                    }

                        .overlay .closebtn:hover {
                            color: #ccc;
                        }
                </style>
            </div>
    </div>
    <div id="myModalCustomizedcolumn" class="modal right fade myModal" role="dialog" data-backdrop="static" aria-hidden="false" style="display: none;">
        <div class="modal-dialog" style="width:400px; height: 100vh; padding:2px 0;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header btn-success">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <div class="modaltitle">
                        <h4><img src="/newassets/img/customize-icon.png"> Customise Field</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-y:scroll; margin-top:15px; max-height:450px;">
                            <ul id="od">
                                <li>
                                    <input type="checkbox" class="shcheckbox1" name="cname"
                                           checked><a href="#" class="small" data-value="option1"
                                                      tabIndex="-1"> User Name</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1"
                                           name="designation"><a href="#" class="small"
                                                                 data-value="option2" tabIndex="-1">Designation</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1" name="department"
                                           checked><a href="#" class="small" data-value="option2"
                                                      tabIndex="-1">Department</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1" name="branch"><a href="#" class="small" data-value="option2"
                                                                                                tabIndex="-1">Branch</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1" name="utype"
                                           checked><a href="#" class="small" data-value="option2"
                                                      tabIndex="-1">User Type</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1"
                                           name="rmanager"><a href="#" class="small"
                                                              data-value="option2" tabIndex="-1">Reporting Manager</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1" name="ppartner"
                                           checked><a href="#" class="small" data-value="option2"
                                                      tabIndex="-1">Parent Partner</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1" name="email"
                                           checked><a href="#" class="small" data-value="option2"
                                                      tabIndex="-1">Email</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1" name="mobile"
                                           checked><a href="#" class="small" data-value="option2"
                                                      tabIndex="-1">Mobile</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1" name="status1"
                                           checked><a href="#" class="small" data-value="option2"
                                                      tabIndex="-1">Status</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1"
                                           name="date_time"><a href="#" class="small"
                                                               data-value="option2" tabIndex="-1">Date</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1"
                                           name="CreatedBy"><a href="#" class="small"
                                                               data-value="option2" tabIndex="-1">Created by</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1" name="username"
                                           checked><a href="#" class="small" data-value="option2"
                                                      tabIndex="-1">Login UserName</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1" name="hrate"><a href="#" class="small" data-value="option2"
                                                                                               tabIndex="-1">Rate/Hr</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1" name="empcode"><a href="#" class="small" data-value="option2"
                                                                                                 tabIndex="-1">Employee Code</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1"
                                           name="qualification"><a href="#" class="small"
                                                                   data-value="option2" tabIndex="-1">Qualification</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1"
                                           name="areaofexpertise"><a href="#" class="small"
                                                                     data-value="option2" tabIndex="-1">
                                        Areas of
                                        Expertise
                                    </a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1" name="pqe"><a href="#" class="small" data-value="option2"
                                                                                             tabIndex="-1">PQE</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1"
                                           name="firmexperience"><a href="#" class="small"
                                                                    data-value="option2" tabIndex="-1">Firm Experience</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1" name="address"><a href="#" class="small" data-value="option2"
                                                                                                 tabIndex="-1">Address</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1" name="city"><a href="#" class="small" data-value="option2"
                                                                                              tabIndex="-1">City</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1" name="state"><a href="#" class="small" data-value="option2"
                                                                                               tabIndex="-1">State</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1" name="country"><a href="#" class="small" data-value="option2"
                                                                                                 tabIndex="-1">Country</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1"
                                           name="landline"><a href="#" class="small"
                                                              data-value="option2" tabIndex="-1">Landline</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1"
                                           name="extention"><a href="#" class="small"
                                                               data-value="option2" tabIndex="-1">Extension</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="shcheckbox1"
                                           name="odetails"><a href="#" class="small"
                                                              data-value="option2" tabIndex="-1">OtherDetails</a>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
<div id="myModalccc" class="modal fade myModalcpd" role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width:400px;">
        <input type="hidden" id="cltoken">
        <div class="modal-content myModalccc">
            <div class="modal-header btn-primary">
                <button type="button" id="closemodel" class="close" data-dismiss="modal">&times;</button>
               
            </div>
            <div class="modaltitle" style="border-bottom:none;margin:-30px 0 0 0;">
                <h4 id="">Create User Credentials</h4>
            </div>
            <div class="modal-body ">
                <!-- Main content -->
                <form id="frmpass" enctype="multipart/form-data">
                    <!-- Start About boxes -->
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>User Id<span class="required " aria-required="true"><b> *</b> </span></label>
                            <input class="form-control inputFormat" onfocus="$(this).removeAttr('readonly');" name="clusername" type="text" maxlength="30" id="clusername" required="">
                            <span id="useriderror" style="color:red"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Password <span class="required " aria-required="true"><b> *</b> </span></label>
                            <input class="form-control inputFormat" onfocus="$(this).removeAttr('readonly');" name="clnpassword" minlength="8" maxlength="30" type="password" id="clnpassword" autocomplete="off" placeholder="Enter Password" title="Password must be minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character" required="">
                              <span id="hideeye" toggle="#clnpassword" class="fa fa-fw fa-eye-slash field-icon toggle-password1" style="margin-top: -25px; margin-right: 6px; float: right;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Confirm Password <span class="required " aria-required="true"><b> *</b> </span></label>
                            <input class="form-control inputformat" onfocus="$(this).removeAttr('readonly');" minlength="8" name="clcpassword" type="password" id="clcpassword" autocomplete="off" maxlength="30" placeholder="Confirm Password" title="Password must be minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character" required="">
                                <span id="hideeye" toggle="#clcpassword" class="fa fa-fw fa-eye-slash field-icon toggle-password1" style="margin-top: -25px; margin-right: 6px; float: right;"></span>
                            
                        </div>
                    </div>



                    <div class="row">
                        <div class="modal-footer" style="border-top: none !important;">
                            @*<p style="text-align: justify; font-size: 11px; margin: -10px 0 15px 0; line-height:15px;">Password must be minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character</p>*@
                            <div class="col-md-6">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width:100%;">Cancel</button>
                            </div>
                            <div class="col-md-6">
                            <button type="button" id="chngclpwd" class="btn btn-primary" value="Save" style="width:100%;">Confirm</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="ResetPassword" class="modal fade " tabindex="-1" data-keyboard="false" role="dialog">
    <div class="modal-dialog" style="width:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <img src="/newassets/img/Credentials.png" style="margin:-15px 0px 0 -15px">
                </h4>
            </div>
            <div class="modaltitle" style="border-bottom:none;margin:-30px 0 0 0;">
                <h4 id="">Reset Password</h4>
            </div>
            <input type="hidden" id="uservalue">
            <div class="modal-body ">
                <form id="ResetPasswordtest" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>New Password <span aria-required="true"><b>*</b> </span></label>
                            <input class="form-control inputFormat" autocomplete="off" name="newpassword" type="password" maxlength="16" title="Password must be minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character" id="newpassword" required="" />
                              <span id="hideeye" toggle="#newpassword" class="fa fa-fw fa-eye-slash field-icon toggle-password1" style="margin-top: -25px; margin-right: 6px; float: right;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Confirm New Password <span aria-required="true"><b>*</b> </span></label>
                            <input class="form-control inputFormat" autocomplete="off" name="cnfpassword" type="password" maxlength="16"
                                   id="cnfpassword" title="Password must be minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character" required="" />
                            <span id="hideeye" toggle="#cnfpassword" class="fa fa-fw fa-eye-slash field-icon toggle-password1" style="margin-top: -25px; margin-right: 6px; float: right;"></span>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-md-12  form-group">
                            <button type="button" class="btn btn-primary pull-right" id="submitPassword">Submit</button>
                        </div>
                    </div>    
                    
                </form>
            </div>
        </div>
    </div>
</div>


<div id="StandaredUserlistAlertconfirmationdal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog" style="width:480px;">
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">
                    <img src="/newassets/img/icon1.png" style="margin:-10px 0px 0 -12px">
                </h4>
            </div>
            <div class="modaltitle" style="margin: -33px 0 0 0; border-bottom: none;">
                <h4 id="alertTitle">Message</h4>
            </div>
            <div class="modal-body">
                <p id="alertMessage" style="padding: 0 0 18px 0;"></p>
            </div>
        </div>
    </div>
</div>

<div id="UserEnableDisbleModalConfirm12" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" style="z-index:9999; display: none;">
    <div class="modal-dialog" style="width:400px;">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="confirmTitle">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p id="confirmMessage">Please set the password for the User Id.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmYes">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>

            </div>
        </div>
    </div>
</div>

<div id="UserEnableDisbleModalConfirm" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" style="z-index:9999; display: none;">
    <div class="modal-dialog" style="width:470px;">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="confirmTitle1">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p id="confirmMessage1">Please set the password for the User Id.</p>
            </div>
            <div class="modal-footer">
                <div class="col-12" style="text-align:right;">
                    <button type="button" class="btn btn-primary " data-dismiss="modal">OK</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="ConfirmPasswordLength" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" style="z-index:9999; display: none;">
    <div class="modal-dialog" style="width:470px;">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="confirmTitle">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p id="confirmMessage">Confirm Password must contain at least eight characters.</p>
            </div>
            <div class="modal-footer">
                <div class="col-12" style="text-align:right;">
                    <button type="button" class="btn btn-primary " data-dismiss="modal">OK</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="PasswordResetModalConfirm" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" style="z-index:9999; display: none;">
    <div class="modal-dialog" style="width:470px;">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="confirmTitle">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p id="confirmMessage">Password has been reset Successfully .</p>
            </div>
            <div class="modal-footer">
                <div class="col-12" style="text-align:right;">
                    <button type="button" class="btn btn-primary " data-dismiss="modal">OK</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="SetPasswordModalConfirm" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" style="z-index:9999; display: none;">
    <div class="modal-dialog" style="width:470px;">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="confirmTitle">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p id="confirmMessage"> Please confirm your password that you want to set. </p>
            </div>
            <div class="modal-footer">
                <div class="col-12" style="text-align:right;">
                    <button type="button" class="btn btn-primary " data-dismiss="modal">OK</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="EnterUserIdModalConfirm" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" style="z-index:9999; display: none;">
    <div class="modal-dialog" style="width:470px;">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="confirmTitle">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p id="confirmMessage"> Please enter a User Id ! </p>
            </div>
            <div class="modal-footer">
                <div class="col-12" style="text-align:right;">
                    <button type="button" class="btn btn-primary " data-dismiss="modal">OK</button>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="UserEnableDisableConfirmation" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" style="z-index:9999; display: none;">
    <div class="modal-dialog" style="width:470px;">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="confirmTitle1">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p id="confirmMessageforAccount">Please set the password for the User Id.</p>
            </div>
            <div class="modal-footer">
                <div class="col-12" style="text-align:right;">
                    <button type="button" class="btn btn-primary mr-2" id="cancelBtn">Cancel</button>
                    <button type="button" class="btn btn-primary" id="okBtn">OK</button>
                </div>

            </div>
        </div>
    </div>
</div>