@{
    Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
}
@using System.Web.Configuration
@using LawPracticeFirm.Helpers
<i class="pp-icon-user"></i>
<link href="~/panelDesign/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="~/panelDesign/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<script src="~/CssJsfiles/js/3.3.1/jquery.min.js"></script>
<script src="~/Manupanel/pnotify/pnotify.custom.min.js"></script>
<link href="~/Manupanel/pnotify/pnotify.custom.min.css" rel="stylesheet" />
@*<link href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
          rel="stylesheet" type="text/css" />
    <script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
            type="text/javascript"></script>*@
<script src="~/Scripts/Firm/Pages/UserFilesList.js"></script>
<aside class="right-side">
    <section class="content-header">
        <!-- Content Header (Page header) -->
        <ol class="breadcrumb">
            <li><a href="/@Session["firmcode"]/firm/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">User Files</li>
        </ol>
        <h1><span class="glyphicon glyphicon-th-large"></span>Assign Files</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-info-circle"></i> Directory Path </a></li>
            <li class="active" id="outputbrdcmb"></li>
        </ol>
    </section>
    <section class="content">
        <div id="page-wrapper">
            <div class="container-fluid showcontent" id="showcontent">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                        <div class="box-tools">
                        </div>
                        <div class="col-md-12" role="group">
                            &nbsp;&nbsp;
                            &nbsp;&nbsp;<button type="button" class="btn btn-info " style="margin-left:5px;"> <span class="glyphicon glyphicon-plus"> </span>  Share Document</button>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <!-- /.panel-heading -->
            <script src="~/CssJsfiles/js/3.3.1/jquery.min.js"></script>
            <script>
                    var type = '@ViewBag.type'
                      var userid = '@ViewBag.userId'
                    var firmid = '@ViewBag.firmid';
            </script>
            <script type="text/javascript">
                var tableToExcel = (function () {
                    var uri = 'data:application/vnd.ms-excel;base64,'
                        , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="https://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                        , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                        , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
                    return function (table, name) {
                        if (!table.nodeType) table = document.getElementById(table)
                        var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                        window.location.href = uri + base64(format(template, ctx))
                    }
                })()
            </script>
            <script src="~/CssJsfiles/js/1.8.3/jquery.min.js"></script>
            <script src="~/CssJsfiles/js/pdfmake.min.js"></script>
            <script src="~/CssJsfiles/js/html2canvas.min.js"></script>
            <script type="text/javascript">
                $("body").on("click", "#btnExport", function () {
                    html2canvas($('#example')[0], {
                        onrendered: function (canvas) {
                            var data = canvas.toDataURL();
                            var docDefinition = {
                                content: [{
                                    image: data,
                                    width: 500
                                }]
                            };
                            pdfMake.createPdf(docDefinition).download("Table.pdf");
                        }
                    });
                });
            </script>
            <script>
                $("input:checkbox:not(:checked)").each(function () {
                    var column = "table ." + $(this).attr("name");
                    $(column).hide();
                });
                $("input:checkbox").click(function () {
                    var column = "table ." + $(this).attr("name");
                    $(column).toggle();
                });
            </script>
            <div id="updatePanel">
                <div class="container">
                    <div class="row  default">
                        <div class="col-12">
                            <div class="col-md-12">
                                <div class="col-md-5"> <span><b> Structure Name</b></span></div>
                                <div class="col-md-2"><span><b>Created Date</b></span></div>
                                <div class="col-md-1"><span><b>Action</b></span></div>
                                <div class="col-md-4">
                                    <span><b>&nbsp;&nbsp;Permissions  </b></span>
                                    <br><span id="ptypes"> </span></br>
                                </div>
                                <hr>
                            </div>
                            <div id="dirbound">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br><br><br><br><br><br>
            <div><center><span id="datastatus"></span></center></div>
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right"></ul>
            </div>
</aside>
<!-- Modal -->
<script src="~/PanelDesign/vendor/bootstrap/js/bootstrap.min.js"></script>
@*<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js'></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:900,800,700,600,500,400,300&subset=latin,cyrillic-ext,cyrillic,latin-ext" />*@
@Styles.Render("~/Content/css")
<br />
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
<div id="myModal8" class="modal fade" role="dialog" style="z-index:2000;">
    <div class="modal-dialog " style="width: 98% !important;margin:20px auto">
        <!-- Modal content-->
        <div class="modal-content" style=" height: 585px;">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span id="spanhead"> Create Files</span>
                </h4>
            </div>
            <div class="minebody modal-body">
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Create Document
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <legend>File</legend>
                                            <div class="form-group form-horizontal">
                                                <label class="control-label col-md-3">Choose Directory</label>
                                                <div class="col-md-8">
                                                    <select name="" class="form-control" id="filedirectory">
                                                        <option value="">Select Directory...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group form-horizontal">
                                                <label class="control-label col-md-3">File Name</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" id="filename" placeholder="Add Description...">
                                                </div>
                                            </div>
                                            <div class="form-group form-horizontal">

                                        </fieldset>
                                        <button class="btn btn-labeled btn-primary" data-toggle="modal" id="modeldocs">
                                            <span class="btn-label"><i class="fa fa-file-word-o"></i></span> New  Document
                                        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-labeled btn-success" data-toggle="modal" id="modelspread">
                                            <span class="btn-label"><i class="fa fa-file-excel-o"></i></span> New spreadsheet
                                        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-labeled btn-danger" data-toggle="modal" id="modelpresent">
                                            <span class="btn-label"><i class="fa fa-file-powerpoint-o"></i></span> New presentation
                                        </button>
                                        <div class=" form-horizontal" style="display:none">
                                            <ul class="try-editor-list">
                                                <li><a class="try-editor document" href=" @Url.Action("sample", "Docs" , new { fileExt="docx" })" target="_blank">Create<br />Sample Document</a></li>
                                                <li><a class="try-editor spreadsheet" href="@Url.Action("sample", "Docs" , new { fileExt="xlsx" })" target="_blank">Create<br />Sample Spreadsheet</a></li>
                                                <li><a class="try-editor presentation" href="@Url.Action("sample", "Docs" , new { fileExt="pptx" }) " target="_blank">Create<br />Sample Presentation</a></li>
                                            </ul>
                                            @*<label class="control-label col-md-3">Directory Name<span class="required" aria-required="true" style="color:red"><b>*</b></span></label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" value="" id="cdir">
                                                </div>*@
                                        </div>
                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Create Directory for Files
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-danger alert-dismissable validpanel">
                            <button type="button" class="close" data-dismiss="alert" class="validpanel" aria-hidden="true">&times;</button>
                            . <a href="#" class="alert-link">Alert Link</a>.
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form role="form" id="foldercreate">
                                            <div class="form-group form-horizontal">
                                                <label class="control-label col-md-3">Directory Name<span class="required" aria-required="true" style="color:red"><b>*</b></span></label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" value="" id="cdir">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="CreateDir">Create Directory</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Upload  Files
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>File</legend>
                            <form id="fileupload" name="fileupload">
                                <div class="form-group form-horizontal">
                                    <label class="control-label col-md-3">Choose Directory</label>
                                    <div class="col-md-8">
                                        <select name="" class="form-control" id="directory">
                                            <option value="">Select Directory...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group form-horizontal">
                                    <label class="control-label col-md-3">File</label>
                                    <div class="col-md-8">
                                        <input type="file" id="attachment" required>
                                    </div>
                                </div>
                                <div class="form-group form-horizontal">
                                    <label class="control-label col-md-3">Description</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" id="filedetails" placeholder="Add Description...">
                                    </div>
                                </div>
                                <div class="form-group form-horizontal"></div>
                            </form>
                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="createfiles"> Upload File</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*//delete confirm model*@
<div id="confirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog body -->
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                Hello world!
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer"><button type="button" class="btn btn-primary">OK</button></div>
        </div>
    </div>
</div>
<script>
</script>>
<script language="javascript" type="text/javascript">
        var ConverExtList = '@string.Join(",", DocManagerHelper.ConvertExts.ToArray())';
        var EditedExtList = '@string.Join(",", DocManagerHelper.EditedExts.ToArray())';
        var UrlConverter = '@Url.Content("~/webeditor.ashx?type=convert")';
        var UrlEditor = '@Url.Action("editor", "Docs")';
</script>
